Repository projectcontour/contour, pull requests merged in 2021-12, with the labels that each got.

#4075 Bump Envoy to v1.20.1
  Makefile
  changelogs/unreleased/4075-sunjayBhatia-small.md
  examples/contour/03-envoy.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  go.mod
  go.sum
  internal/xds/v3/snapshotter.go
  internal/xdscache/snapshot.go
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/small

#4200 hack/release: Remove ttlSecondsAfterFinished from certgen job
  changelogs/unreleased/4200-lrewega-small.md
  hack/release/make-release-tag.sh
Labels: release-note/small

#4203 test/scripts: ignore pre-release tags when getting upgrade version
  test/scripts/get-contour-upgrade-from-version.sh
Labels: release-note/none-required

#4197 Simplify regex path match to reduce program size
  changelogs/unreleased/4197-sunjayBhatia-small.md
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/featuretests/v3/envoy.go
  internal/xdscache/v3/route_test.go
  test/e2e/ingress/ingress_test.go
  test/e2e/ingress/long_path_match_test.go
Labels: release-note/small

#4214 Fix lint issues from merge
  apis/projectcontour/v1alpha1/helpers.go
  test/e2e/ingress/long_path_match_test.go
Labels: release-note/none-required

#4215 internal/envoy/v3: Remove extraneous log line
  internal/envoy/v3/listener.go
Labels: release-note/none-required

#4202 Convert to controller runtime runnables
  Makefile
  changelogs/unreleased/4202-sunjayBhatia-minor.md
  cmd/contour/ingressstatus.go
  cmd/contour/ingressstatus_test.go
  cmd/contour/leadership.go
  cmd/contour/serve.go
  cmd/contour/serve_test.go
  examples/contour/02-role-contour.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  go.mod
  go.sum
  hack/actions/check-uncommitted-codegen.sh
  internal/contour/handler.go
  internal/contour/handler_test.go
  internal/contour/metrics.go
  internal/controller/controller.go
  internal/controller/controller_test.go
  internal/controller/gateway.go
  internal/controller/gatewayclass.go
  internal/controller/httproute.go
  internal/controller/mocks/manager.go
  internal/controller/tlsroute.go
  internal/debug/debug.go
  internal/debug/debug_test.go
  internal/featuretests/v3/backendclientauth_test.go
  internal/featuretests/v3/externalname_test.go
  internal/featuretests/v3/fallbackcert_test.go
  internal/featuretests/v3/featuretests.go
  internal/featuretests/v3/globalratelimit_test.go
  internal/featuretests/v3/ingressclass_test.go
  internal/featuretests/v3/rootnamespaces_test.go
  internal/featuretests/v3/route_test.go
  internal/httpsvc/http.go
  internal/httpsvc/http_test.go
  internal/k8s/rbac.go
  internal/k8s/status.go
  internal/k8s/status_test.go
  internal/leadership/mocks/need_leader_election_notification.go
  internal/leadership/notifier.go
  internal/leadership/notifier_test.go
  internal/xdscache/v3/server_test.go
  test/e2e/deployment.go
  test/e2e/incluster/incluster_test.go
  test/e2e/incluster/leaderelection_test.go
  test/e2e/incluster/rbac_test.go
  test/e2e/upgrade/upgrade_test.go
  tools.go
Labels: release-note/minor

#4216 test/e2e/httpproxy: Loosen cookie matching to a contains match
  test/e2e/httpproxy/cookie_rewrite_test.go
Labels: release-note/none-required

#4212 internal/dag: allow valid cross-namespace Gateway TLS cert refs
  changelogs/unreleased/4212-skriss-small.md
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
Labels: release-note/small

#4209 internal/dag: set HTTPRoute condition for invalid path match
  changelogs/unreleased/4209-skriss-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/status/routeconditions.go
Labels: release-note/small

#4201 implement redirect route policy
  apis/projectcontour/v1/httpproxy.go
  apis/projectcontour/v1/zz_generated.deepcopy.go
  changelogs/unreleased/4201-stevesloka-minor.md
  examples/contour/01-crds.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/builder_test.go
  internal/dag/httpproxy_processor.go
  internal/featuretests/v3/redirectroutepolicy_test.go
  site/content/docs/main/config/api-reference.html
  test/e2e/httpproxy/httpproxy_test.go
  test/e2e/httpproxy/request_redirect_test.go
Labels: release-note/minor

#4224 v1.20.0-beta.1 changelog
  changelogs/CHANGELOG-v1.20.0-beta.1.md
Labels: release-note/none-required

#4219 Gateway API: drop 'core' as allowed core API group name
  changelogs/unreleased/4219-skriss-small.md
  internal/dag/cache.go
  internal/dag/gatewayapi_processor.go
  internal/gatewayapi/helpers.go
Labels: release-note/small

#4220 Bump gRPC to v1.42.0
  go.mod
  go.sum
Labels: release-note/none-required

#4231 test/e2e: add retry for HTTPProxy update
  test/e2e/incluster/rbac_test.go
Labels: release-note/none-required

#4232 update Go version to 1.17.5
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/4232-skriss-small.md
Labels: release-note/small

#4238 Bump golang.org/x/net
  go.mod
  go.sum
Labels: release-note/none-required

#4148 Add support for with_request_body to ExtAuthorizationServer
  apis/projectcontour/v1/httpproxy.go
  apis/projectcontour/v1/zz_generated.deepcopy.go
  changelogs/unreleased/4148-abhide-small.md
  examples/contour/01-crds.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/dag.go
  internal/dag/httpproxy_processor.go
  internal/envoy/v3/listener.go
  internal/envoy/v3/listener_test.go
  internal/featuretests/v3/authorization_test.go
  internal/xdscache/v3/listener.go
  site/content/docs/main/config/api-reference.html
Labels: release-note/small

#4228 internal/dag: move some builder tests into different files
  internal/dag/builder_test.go
  internal/dag/httpproxy_processor_test.go
  internal/dag/ingress_processor_test.go
  internal/dag/policy_test.go
Labels: kind/cleanup, release-note/none-required

#4240 test/e2e/incluster: Retry get events in leaderelection test
  test/e2e/incluster/leaderelection_test.go
Labels: release-note/none-required

#4236 set Gateway status address from Envoy LB service
  changelogs/unreleased/4236-skriss-small.md
  cmd/contour/ingressstatus.go
  cmd/contour/serve.go
  codecov.yaml
  internal/gatewayapi/helpers.go
  internal/k8s/mocks/cache.go
  internal/k8s/statusaddress.go
  internal/k8s/statusaddress_test.go
Labels: release-note/small

#4250 .github/workflows: Bump actions to latest revisions
  .github/workflows/build_main.yaml
  .github/workflows/build_tag.yaml
  .github/workflows/stale.yaml
Labels: release-note/none-required
