Repository projectcontour/contour, pull requests merged in 2021-11, with the labels that each got.

#4142 Use updated fields for access log and xffNumTrustedHops
  changelogs/unreleased/4142-sunjayBhatia-small.md
  internal/envoy/v3/bootstrap.go
  internal/envoy/v3/bootstrap_test.go
  internal/envoy/v3/listener.go
  internal/envoy/v3/listener_test.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/listeners_test.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/listener_test.go
Labels: release-note/small

#4141 Add source ip hashing to RequestHash load balancing
  apis/projectcontour/v1/httpproxy.go
  changelogs/unreleased/4141-sunjayBhatia-minor.md
  examples/contour/01-crds.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/policy.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/loadbalancerpolicy_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/config/request-routing.md
Labels: release-note/minor

#4143 Gateway API: set TCPRoute and UDPRoute status
  changelogs/unreleased/4143-skriss-small.md
  cmd/contour/serve.go
  internal/controller/gateway.go
  internal/controller/helpers.go
  internal/controller/tcproute.go
  internal/controller/udproute.go
  internal/dag/cache.go
  internal/dag/cache_test.go
  test/e2e/framework.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/unsupported_route_types_test.go
Labels: release-note/small

#4123 Gateway API: add request redirect filter support
  changelogs/unreleased/4123-skriss-small.md
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/xdscache/v3/route.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/request_redirect_test.go
  test/e2e/http.go
Labels: release-note/small

#4138 Gateway API: implement ReferencePolicy
  changelogs/unreleased/4138-skriss-minor.md
  cmd/contour/serve.go
  examples/contour/02-role-contour.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/builder_test.go
  internal/dag/cache.go
  internal/dag/cache_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/gatewayapi/helpers.go
  internal/k8s/informers.go
Labels: release-note/minor

#4145 Allow wildcard fqdn's for HTTPProxy resources
  apis/projectcontour/v1/httpproxy.go
  changelogs/unreleased/4145-stevesloka-small.md
  examples/contour/01-crds.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/ingress_processor.go
  internal/featuretests/v3/wildcardhost_test.go
  test/e2e/httpproxy/fqdn_test.go
Labels: release-note/small

#4147 test/e2e: Fix possible cause of flakes in cookie rewrite test
  test/e2e/httpproxy/cookie_rewrite_test.go
Labels: release-note/none-required

#4146 Fix figure and youtube link in old post for 1.9.0
  site/content/posts/2020-10-07-contour_v190.md
Labels: area/website, release-note/none-required

#4099 drop Visitor pattern for getting info out of DAG
  changelogs/unreleased/4099-skriss-minor.md
  internal/dag/accessors.go
  internal/dag/builder.go
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/dag_test.go
  internal/dag/extension_processor.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/ingress_processor.go
  internal/dag/listener_processor.go
  internal/debug/dot.go
  internal/xdscache/v3/cluster.go
  internal/xdscache/v3/cluster_test.go
  internal/xdscache/v3/endpointstranslator.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/listener_test.go
  internal/xdscache/v3/route.go
  internal/xdscache/v3/route_test.go
  internal/xdscache/v3/secret.go
  internal/xdscache/v3/secret_test.go
  internal/xdscache/v3/visitor_test.go
Labels: release-note/minor

#4151 internal/envoy: increase default upstream connect timeout
  changelogs/unreleased/4151-tsaarni-small.md
  internal/envoy/v3/cluster.go
  internal/featuretests/v3/envoy.go
  internal/xdscache/v3/cluster_test.go
Labels: release-note/small

#4153 replace dynamic client with controller-runtime client
  changelogs/unreleased/4153-skriss-small.md
  cmd/contour/certgen.go
  cmd/contour/ingressstatus.go
  cmd/contour/leadership.go
  cmd/contour/serve.go
  examples/contour/02-role-contour.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/contour/handler.go
  internal/controller/gateway.go
  internal/controller/gatewayclass.go
  internal/controller/tcproute.go
  internal/controller/udproute.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/k8s/clients.go
  internal/k8s/clients_test.go
  internal/k8s/converter.go
  internal/k8s/converter_test.go
  internal/k8s/informers.go
  internal/k8s/rbac.go
  internal/k8s/status.go
  internal/k8s/statusaddress.go
  internal/k8s/statusaddress_test.go
  internal/k8s/statuscache.go
  internal/status/cache.go
  internal/status/extensionstatus.go
  internal/status/gatewayconditions.go
  internal/status/gatewayconditions_test.go
  internal/status/proxystatus.go
  internal/status/routeconditions.go
Labels: release-note/small

#4159 Fix examples and install-contour-working script
  examples/gateway/kuard/kuard.yaml
  test/scripts/install-contour-working.sh
Labels: release-note/none-required

#4164 test/e2e: simplify API validation tests
  test/e2e/httpproxy/fqdn_test.go
  test/e2e/httpproxy/httpproxy_test.go
Labels: release-note/none-required

#4162 test/e2e: Verbose only on failures
  Makefile
  test/e2e/httpproxy/httpproxy_test.go
Labels: release-note/none-required

#4065 cmd/contour: Update to TLS 1.3 for xDS between Contour and Envoy
  changelogs/unreleased/4065-tsaarni-major.md
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
Labels: area/tls, release-note/major

#4152 Fix negated allow chunked length field
  changelogs/unreleased/4152-sunjayBhatia-small.md
  cmd/contour/serve.go
  internal/contourconfig/contourconfiguration.go
  internal/contourconfig/contourconfiguration_test.go
  internal/featuretests/v3/timeouts_test.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/listener_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
Labels: release-note/small

#4173 Updates to deprecation policy for alpha APIs
  changelogs/unreleased/4173-sunjayBhatia-docs.md
  site/content/resources/deprecation-policy.md
Labels: release-note/docs

#4172 test/e2e/upgrade: Add app polling during upgrade
  test/e2e/poller.go
  test/e2e/upgrade/upgrade_test.go
Labels: release-note/none-required

#4166 drop TCPRoute/UDPRoute controllers and RBAC
  changelogs/unreleased/4143-skriss-small.md
  changelogs/unreleased/4166-skriss-small.md
  cmd/contour/serve.go
  examples/contour/02-role-contour.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/controller/gateway.go
  internal/controller/helpers.go
  internal/controller/tcproute.go
  internal/controller/udproute.go
  internal/k8s/rbac.go
  test/e2e/framework.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/unsupported_route_types_test.go
Labels: release-note/small

#4149 internal/dag: move ListenerName to Listener struct
  internal/dag/accessors.go
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/listener_processor.go
  internal/xdscache/v3/listener.go
Labels: release-note/none-required

#4169 internal/dag: apply TCPProxy service weights
  changelogs/unreleased/4169-skriss-minor.md
  internal/dag/builder_test.go
  internal/dag/httpproxy_processor.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/routeweight_test.go
Labels: release-note/minor

#4175 internal/dag: fix tests from #4169
  internal/dag/builder_test.go
Labels: release-note/none-required

#4171 Use flags for leader election setup
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/4171-sunjayBhatia-minor.md
  cmd/contour/leadership.go
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-crds.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  pkg/config/parameters.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
  test/e2e/deployment.go
Labels: release-note/minor

#4160 internal/dag: set Gateway Listener status
  changelogs/unreleased/4160-skriss-minor.md
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/status/cache.go
  internal/status/gatewayconditions_test.go
  internal/status/gatewaystatus.go
  internal/status/gatewaystatus_test.go
  internal/status/proxystatus.go
  internal/status/routeconditions.go
Labels: release-note/minor

#4183 fixup nit linting errors
  pkg/config/parameters.go
Labels: release-note/none-required

#4176 test/e2e/upgrade: Use multi-node cluster for upgrade testing
  .github/workflows/prbuild.yaml
  Makefile
  test/e2e/deployment.go
  test/e2e/fixtures.go
  test/e2e/upgrade/upgrade_test.go
  test/scripts/kind-multinode.yaml
  test/scripts/make-kind-cluster.sh
Labels: release-note/none-required

#3707 internal: add optional TLS support for contour metrics endpoint
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/helpers.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/3707-tsaarni-minor.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-crds.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/envoy/v3/stats.go
  internal/envoy/v3/stats_test.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/featuretests.go
  internal/featuretests/v3/listeners_test.go
  internal/httpsvc/http.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/secret.go
  internal/xdscache/v3/server_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
  test/e2e/certs.go
  test/e2e/deployment.go
  test/e2e/fixtures.go
  test/e2e/framework.go
  test/e2e/httpproxy/client_cert_auth_test.go
  test/e2e/infra/infra_test.go
  test/e2e/infra/metrics_test.go
  test/e2e/kubectl.go
Labels: release-note/minor

#4179 Release 1.18.3 docs
  site/config.yaml
  site/content/docs/v1.18.3/README.md
  site/content/docs/v1.18.3/_index.md
  site/content/docs/v1.18.3/architecture.md
  site/content/docs/v1.18.3/config/access-logging.md
  site/content/docs/v1.18.3/config/annotations.md
  site/content/docs/v1.18.3/config/api-reference.html
  site/content/docs/v1.18.3/config/api.md
  site/content/docs/v1.18.3/config/client-authorization.md
  site/content/docs/v1.18.3/config/cors.md
  site/content/docs/v1.18.3/config/external-service-routing.md
  site/content/docs/v1.18.3/config/fundamentals.md
  site/content/docs/v1.18.3/config/health-checks.md
  site/content/docs/v1.18.3/config/inclusion-delegation.md
  site/content/docs/v1.18.3/config/ingress.md
  site/content/docs/v1.18.3/config/rate-limiting.md
  site/content/docs/v1.18.3/config/request-rewriting.md
  site/content/docs/v1.18.3/config/request-routing.md
  site/content/docs/v1.18.3/config/tls-delegation.md
  site/content/docs/v1.18.3/config/tls-termination.md
  site/content/docs/v1.18.3/config/upstream-tls.md
  site/content/docs/v1.18.3/config/virtual-hosts.md
  site/content/docs/v1.18.3/config/websockets.md
  site/content/docs/v1.18.3/configuration.md
  site/content/docs/v1.18.3/deploy-options.md
  site/content/docs/v1.18.3/github.md
  site/content/docs/v1.18.3/grpc-tls-howto.md
  site/content/docs/v1.18.3/img/archoverview.png
  site/content/docs/v1.18.3/img/contour_deployment_in_k8s.png
  site/content/docs/v1.18.3/img/shutdownmanager.png
  site/content/docs/v1.18.3/redeploy-envoy.md
  site/content/docs/v1.18.3/start-contributing.md
  site/content/docs/v1.18.3/troubleshooting.md
  site/content/docs/v1.18.3/troubleshooting/contour-debug-log.md
  site/content/docs/v1.18.3/troubleshooting/contour-graph.md
  site/content/docs/v1.18.3/troubleshooting/contour-xds-resources.md
  site/content/docs/v1.18.3/troubleshooting/envoy-admin-interface.md
  site/content/docs/v1.18.3/troubleshooting/envoy-debug-log.md
  site/content/docs/v1.18.3/troubleshooting/operator.md
  site/content/docs/v1.18.3/troubleshooting/profiling-contour.md
  site/content/resources/compatibility-matrix.md
  site/content/resources/upgrading.md
  site/data/docs/toc-mapping.yml
  site/data/docs/v1-18-3-toc.yml
  versions.yaml
Labels: release-note/none-required

#4187 Bump golang to 1.17.3
  .github/workflows/prbuild.yaml
  Makefile
Labels: release-note/none-required

#4165 Update Certificate Validation with more clarity and tests
  changelogs/unreleased/4165-youngnick-minor.md
  internal/dag/cache_test.go
  internal/dag/secret.go
  internal/dag/secret_test.go
  internal/fixture/certificate_constants.go
  site/content/docs/main/config/tls-termination.md
Labels: release-note/minor

#4189 internal/httpsvc: set TLSv1.3 for optional TLS for contour metrics
  internal/httpsvc/http.go
  internal/httpsvc/http_test.go
  internal/httpsvc/testdata/ca.pem
  internal/httpsvc/testdata/client-key.pem
  internal/httpsvc/testdata/client.pem
  internal/httpsvc/testdata/server-key.pem
  internal/httpsvc/testdata/server.pem
Labels: release-note/none-required

#4194 tests: generate test certificates and keys on the fly
  cmd/contour/servecontext_test.go
  cmd/contour/testdata/1/CAcert.pem
  cmd/contour/testdata/1/CAkey.pem
  cmd/contour/testdata/1/contourcert.pem
  cmd/contour/testdata/1/contourkey.pem
  cmd/contour/testdata/1/envoycert.pem
  cmd/contour/testdata/1/envoykey.pem
  cmd/contour/testdata/2/CAcert.pem
  cmd/contour/testdata/2/CAkey.pem
  cmd/contour/testdata/2/contourcert.pem
  cmd/contour/testdata/2/contourkey.pem
  cmd/contour/testdata/2/envoycert.pem
  cmd/contour/testdata/2/envoykey.pem
  go.mod
  go.sum
  internal/httpsvc/http_test.go
Labels: release-note/none-required

#4195 move route DAG->Envoy logic into internal/envoy/v3
  internal/envoy/v3/ratelimit.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/xdscache/v3/route.go
Labels: kind/cleanup, release-note/none-required

#4186 internal/dag: set Gateway Listener conditions
  changelogs/unreleased/4186-skriss-minor.md
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/status/gatewaystatus.go
  internal/status/gatewaystatus_test.go
Labels: release-note/minor
