Repository projectcontour/contour, pull requests merged in 2022-03, with the labels that each got.

#4379 internal/envoy/v3: Reenable larger max regex program size
  changelogs/unreleased/4379-sunjayBhatia-minor.md
  internal/envoy/v3/bootstrap.go
  internal/envoy/v3/bootstrap_test.go
Labels: release-note/minor

#4382 site: fix typos
  site/content/resources/security-threat-model.md
  site/themes/contour/static/fonts/README.md
Labels: release-note/none-required

#4380 Add base RTDS implementation
  changelogs/unreleased/4380-sunjayBhatia-small.md
  cmd/contour/serve.go
  internal/xds/v3/contour.go
  internal/xds/v3/server.go
  internal/xdscache/snapshot.go
  internal/xdscache/v3/runtime.go
  internal/xdscache/v3/server_test.go
Labels: release-note/small

#4363 internal/envoy: Make merge_slashes option configurable
  apis/projectcontour/v1alpha1/contourconfig.go
  changelogs/unreleased/4363-mszabo-wikia-small.md
  cmd/contour/serve.go
  examples/contour/01-contour-config.yaml
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/envoy/v3/listener.go
  internal/envoy/v3/listener_test.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/listener_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
Labels: release-note/small

#4393 Add link to GOVERNANCE in Community repo
  README.md
Labels: release-note/none-required, area/community

#4395 test/e2e: Add path prefix rewrite test
  test/e2e/httpproxy/httpproxy_test.go
  test/e2e/httpproxy/path_rewrite_test.go
Labels: release-note/none-required

#4394 certgen: add optional --name-prefix flag
  changelogs/unreleased/4394-skriss-small.md
  cmd/contour/certgen.go
  cmd/contour/certgen_test.go
  internal/certgen/certgen.go
Labels: release-note/small

#4391 internal/k8s: Set logger for controller-runtime in InitLogging
  changelogs/unreleased/4391-sunjayBhatia-small.md
  cmd/contour/contour.go
  internal/k8s/log.go
  internal/k8s/log_test.go
Labels: release-note/small

#4398 Add protocol for health check from the cluster - fixes 4213
  changelogs/unreleased/4398-rajatvig-small.md
  internal/envoy/v3/healthcheck.go
  internal/envoy/v3/healthcheck_test.go
Labels: release-note/small

#4397 Remove use of depcrated Envoy matchers. Fixes 4076
  changelogs/unreleased/4397-rajatvig-small.md
  internal/envoy/v3/ratelimit_test.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/featuretests/v3/wildcardhost_test.go
Labels: release-note/small

#4402 Remove the hack in scripts for certgen job
  changelogs/unreleased/4402-rajatvig-small.md
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  hack/generate-deployment.sh
  hack/generate-gateway-deployment.sh
Labels: release-note/small

#4407 site: Update home page with team members
  site/themes/contour/layouts/partials/team.html
  site/themes/contour/static/img/contributors/daneyon-hansen.jpg
  site/themes/contour/static/img/contributors/tero-saarni.png
Labels: release-note/none-required

#4409 test/e2e: minor fixes and improvements
  test/e2e/framework.go
  test/e2e/http.go
Labels: release-note/none-required

#4411 test/e2e: add test for Gateway with multiple HTTPS listeners
  test/e2e/framework.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/multiple_https_listeners_test.go
  test/e2e/httpproxy/tcproute_https_termination_test.go
Labels: release-note/none-required

#4412 update Go version to 1.18.0
  .github/workflows/build_daily.yaml
  .github/workflows/label_check.yaml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/4412-skriss-small.md
  cmd/contour/cli.go
  go.mod
  go.sum
  hack/golangci-lint
  internal/controller/mocks/manager.go
  internal/debug/mocks/dag_builder.go
  internal/featuretests/v3/featuretests.go
  internal/k8s/mocks/cache.go
  internal/leadership/mocks/need_leader_election_notification.go
  internal/xdscache/v3/server_test.go
Labels: release-note/small

#4413 test/e2e: install Contour CRDs during cluster setup
  test/e2e/deployment.go
  test/scripts/make-kind-cluster.sh
Labels: release-note/none-required

#4416 Ratelimit example: Update image
  examples/ratelimit/02-ratelimit.yaml
Labels: release-note/none-required

#4410 support processing a specific Gateway
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/helpers.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/4410-skriss-minor.md
  cmd/contour/ingressstatus.go
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/cache.go
  internal/dag/cache_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/k8s/statusaddress.go
  internal/k8s/statusaddress_test.go
  pkg/config/parameters.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
  test/e2e/gateway/gateway_test.go
Labels: release-note/minor

#4426 internal/provisioner: support more than one instance per namespace
  changelogs/unreleased/4426-skriss-minor.md
  internal/provisioner/model/names.go
  internal/provisioner/objects/configmap/configmap.go
  internal/provisioner/objects/configmap/configmap_test.go
  internal/provisioner/objects/daemonset/daemonset.go
  internal/provisioner/objects/deployment/deployment.go
  internal/provisioner/objects/job/job.go
  internal/provisioner/objects/object.go
  internal/provisioner/objects/rbac.go
  internal/provisioner/objects/service/service.go
  internal/provisioner/validation/validation.go
  test/e2e/provisioner/provisioner_test.go
Labels: release-note/minor

#4428 Include gateway provisioner in codegen/release tooling
  Makefile
  examples/render/contour-gateway-provisioner.yaml
  hack/generate-provisioner-deployment.sh
  hack/release/make-release-tag.sh
Labels: release-note/none-required

#4356 Added idle connection timeout to HTTPProxy
  apis/projectcontour/v1/httpproxy.go
  changelogs/unreleased/4356-tsaarni-small.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/extension_processor.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/ingress_processor.go
  internal/dag/policy.go
  internal/dag/policy_test.go
  internal/envoy/cluster.go
  internal/envoy/v3/auth.go
  internal/envoy/v3/bootstrap.go
  internal/envoy/v3/cluster.go
  internal/envoy/v3/cluster_test.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/extensionservice_test.go
  internal/featuretests/v3/timeoutpolicy_test.go
  site/content/docs/main/config/api-reference.html
Labels: release-note/small

#4433 Add generated example yaml file back to fix the test
  examples/render/contour-gateway-provisioner.yaml
Labels: release-note/none-required

#4432 generate xDS TLS certs directly from provisioner
  changelogs/unreleased/4432-skriss-minor.md
  cmd/contour/certgen.go
  cmd/contour/certgen_test.go
  examples/gateway-provisioner/01-roles.yaml
  examples/render/contour-gateway-provisioner.yaml
  internal/annotation/annotations.go
  internal/annotation/annotations_test.go
  internal/certgen/certgen.go
  internal/certgen/certgen_test.go
  internal/provisioner/controller/gateway.go
  internal/provisioner/equality/equality.go
  internal/provisioner/equality/equality_test.go
  internal/provisioner/model/names.go
  internal/provisioner/objects/job/job.go
  internal/provisioner/objects/job/job_test.go
  internal/provisioner/objects/rbac.go
  internal/provisioner/objects/role/role.go
  internal/provisioner/objects/role/role_test.go
  internal/provisioner/objects/secret/secret.go
  internal/provisioner/rbac/rbac.go
Labels: release-note/minor

#4438 clean up provisioner RBAC and reuse Contour RBAC for it
  examples/gateway-provisioner/01-roles.yaml
  examples/render/contour-gateway-provisioner.yaml
  hack/generate-rbac.sh
  internal/provisioner/objects/rbac/clusterrole/cluster_role.go
  internal/provisioner/rbac/rbac.go
Labels: release-note/none-required
