Repository projectcontour/contour, pull requests merged in 2022-07, with the labels that each got.

#4610 update envoy log template keywords
  changelogs/unreleased/4610-yangyy93-small.md
  pkg/config/accesslog.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
Labels: release-note/small

#4612 Update Kubernetes dependencies to v0.24.2
  go.mod
  go.sum
Labels: release-note/none-required

#4613 Update Gateway API to v0.5.0-rc2
  Makefile
  examples/gateway/00-crds.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  go.mod
  go.sum
Labels: release-note/none-required

#4604 Gateway API: set route parent statuses correctly
  changelogs/unreleased/4604-skriss-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/status_test.go
  internal/featuretests/v3/httproute_test.go
  internal/gatewayapi/helpers.go
  internal/status/cache.go
  internal/status/gatewaystatus.go
  internal/status/routeconditions.go
  internal/status/routeconditions_test.go
Labels: release-note/small

#4615 internal/dag: set Listener condition for invalid namespace selector
  changelogs/unreleased/4615-skriss-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/status_test.go
Labels: release-note/small

#4614 Gateway API: fix handling of various invalid route scenarios
  changelogs/unreleased/4614-skriss-minor.md
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  test/e2e/gateway/invalid_backend_ref_test.go
Labels: release-note/minor

#4617 update Gateway API to v0.5.0
  changelogs/unreleased/4617-skriss-major.md
  examples/gateway/00-crds.yaml
  examples/gateway/01-admission_webhook.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  go.mod
  go.sum
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/major

#4626 Consolidate access log and tls cipher suite validation logic
  apis/projectcontour/v1alpha1/accesslog.go
  apis/projectcontour/v1alpha1/accesslog_test.go
  apis/projectcontour/v1alpha1/ciphersuites.go
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/contourconfig_helpers.go
  apis/projectcontour/v1alpha1/contourconfig_helpers_test.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/4626-sunjayBhatia-minor.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/contourconfig/contourconfiguration.go
  internal/contourconfig/contourconfiguration_test.go
  internal/envoy/v3/accesslog.go
  internal/envoy/v3/accesslog_test.go
  internal/xdscache/v3/listener.go
  pkg/config/accesslog.go
  pkg/config/ciphersuites.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  test/e2e/fixtures.go
Labels: release-note/minor

#4627 Support new access log operators from Envoy 1.23.0
  apis/projectcontour/v1alpha1/accesslog.go
  apis/projectcontour/v1alpha1/accesslog_test.go
  changelogs/unreleased/4627-sunjayBhatia-small.md
Labels: release-note/small

#4631 internal/dag: fix Gateway API HTTPS/TLS protocol handling
  changelogs/unreleased/4631-skriss-minor.md
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/featuretests/v3/tlsroute_test.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/tlsroute_test.go
Labels: release-note/minor

#4632 v1.22.0-rc.1 changelog
  changelogs/CHANGELOG-v1.22.0-rc.1.md
Labels: release-note/none-required

#4633 fix changelog links
  changelogs/CHANGELOG-v1.22.0-rc.1.md
  hack/release/release-notes-template.md
Labels: release-note/none-required

#4635 Issue 4320 - Remove grey banner from main page
  changelogs/unreleased/4635-gary-tai-docs.md
  site/themes/contour/layouts/index.html
Labels: release-note/docs

#4640 Gateway API: run conformance via a Go test
  go.sum
  test/conformance/gatewayapi/gateway_conformance_test.go
  test/scripts/run-gateway-conformance.sh
Labels: release-note/none-required

#4638 update Gateway API examples to use v1beta1
  examples/example-workload/gatewayapi/blue-green/blue-green.yaml
  examples/example-workload/gatewayapi/kuard/kuard.yaml
  site/content/getting-started/_index.md
  site/content/guides/gateway-api.md
Labels: release-note/none-required

#4645 update netlify redirects for v1.22.0
  netlify.toml
Labels: release-note/none-required

#4649 test/e2e/upgrade: remove WaitForEnvoyDaemonSetOutOfDate check
  test/e2e/deployment.go
  test/e2e/upgrade/upgrade_test.go
Labels: release-note/none-required

#4646 test/scripts: fix upgrade from version logic when on a tag
  test/scripts/get-contour-upgrade-from-version.sh
Labels: release-note/none-required

#4648 test/e2e/httpproxy: Add test for gRPC server behind Contour with h2c
  go.mod
  go.sum
  test/e2e/fixtures.go
  test/e2e/framework.go
  test/e2e/http.go
  test/e2e/httpproxy/grpc_test.go
  test/e2e/httpproxy/httpproxy_test.go
  test/scripts/make-kind-cluster.sh
Labels: release-note/none-required
