Repository projectcontour/contour, pull requests merged in 2022-12, with the labels that each got.

#4885 release-1.21: Bump module version and transitive deps
  .github/workflows/build_daily.yaml
  .github/workflows/label_check.yaml
  .github/workflows/prbuild.yaml
  Makefile
  cmd/contour/certgen_test.go
  cmd/contour/cli.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  cmd/contour/shutdownmanager.go
  cmd/contour/shutdownmanager_test.go
  design/ingress-status-loadbalancer.md
  go.mod
  go.sum
  hack/release/prepare-release.go
  internal/dag/policy.go
  internal/dag/policy_test.go
  internal/featuretests/kubernetes.go
  internal/featuretests/v3/fallbackcert_test.go
  internal/fixture/certificate_constants.go
  internal/httpsvc/http.go
  internal/httpsvc/http_test.go
  internal/xds/v3/contour_test.go
  internal/xdscache/v3/secret_test.go
  internal/xdscache/v3/server_test.go
  test/e2e/bench/bench_test.go
  test/e2e/deployment.go
  test/e2e/http.go
Labels: release-note/none-required

#4886 Use dependabot to keep github actions up to date
  .github/dependabot.yml
Labels: release-note/none-required

#4889 Bump Envoy to 1.22.6
  Makefile
  changelogs/unreleased/4889-sunjayBhatia-minor.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  test/e2e/deployment.go
  test/e2e/upgrade/upgrade_test.go
Labels: release-note/minor

#4892 patch release 1.21.2: Docs update
  changelogs/CHANGELOG-v1.21.2.md
  site/config.yaml
  site/content/docs/v1.21.2/_index.md
  site/content/docs/v1.21.2/architecture.md
  site/content/docs/v1.21.2/config/access-logging.md
  site/content/docs/v1.21.2/config/annotations.md
  site/content/docs/v1.21.2/config/api-reference.html
  site/content/docs/v1.21.2/config/api.md
  site/content/docs/v1.21.2/config/client-authorization.md
  site/content/docs/v1.21.2/config/cookie-rewriting.md
  site/content/docs/v1.21.2/config/cors.md
  site/content/docs/v1.21.2/config/external-service-routing.md
  site/content/docs/v1.21.2/config/fundamentals.md
  site/content/docs/v1.21.2/config/health-checks.md
  site/content/docs/v1.21.2/config/inclusion-delegation.md
  site/content/docs/v1.21.2/config/ingress.md
  site/content/docs/v1.21.2/config/rate-limiting.md
  site/content/docs/v1.21.2/config/request-rewriting.md
  site/content/docs/v1.21.2/config/request-routing.md
  site/content/docs/v1.21.2/config/tls-delegation.md
  site/content/docs/v1.21.2/config/tls-termination.md
  site/content/docs/v1.21.2/config/upstream-tls.md
  site/content/docs/v1.21.2/config/virtual-hosts.md
  site/content/docs/v1.21.2/config/websockets.md
  site/content/docs/v1.21.2/configuration.md
  site/content/docs/v1.21.2/deploy-options.md
  site/content/docs/v1.21.2/github.md
  site/content/docs/v1.21.2/grpc-tls-howto.md
  site/content/docs/v1.21.2/img/archoverview.png
  site/content/docs/v1.21.2/img/contour_deployment_in_k8s.png
  site/content/docs/v1.21.2/img/shutdownmanager.png
  site/content/docs/v1.21.2/img/source/shutdownmanager.drawio
  site/content/docs/v1.21.2/redeploy-envoy.md
  site/content/docs/v1.21.2/start-contributing.md
  site/content/docs/v1.21.2/troubleshooting.md
  site/content/docs/v1.21.2/troubleshooting/contour-debug-log.md
  site/content/docs/v1.21.2/troubleshooting/contour-graph.md
  site/content/docs/v1.21.2/troubleshooting/contour-xds-resources.md
  site/content/docs/v1.21.2/troubleshooting/envoy-admin-interface.md
  site/content/docs/v1.21.2/troubleshooting/envoy-debug-log.md
  site/content/docs/v1.21.2/troubleshooting/operator.md
  site/content/docs/v1.21.2/troubleshooting/profiling-contour.md
  site/content/resources/compatibility-matrix.md
  site/content/resources/release-process.md
  site/content/resources/upgrading.md
  site/data/docs/toc-mapping.yml
  site/data/docs/v1-21-2-toc.yml
  versions.yaml
Labels: release-note/none-required

#4894 Update supported releases table
  site/content/resources/support.md
Labels: release-note/none-required

#4887 internal/provisioner: Use local variable to replace the long access chain of fields
  internal/provisioner/controller/gateway.go
Labels: release-note/none-required

#4896 Update welcome new contributors
  .github/workflows/welcome-new-contributors.yaml
Labels: release-note/none-required

#4897 release-1.22: Bump Envoy to 1.23.3
  Makefile
  changelogs/unreleased/4897-sunjayBhatia-minor.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  test/e2e/deployment.go
  test/e2e/upgrade/upgrade_test.go
Labels: release-note/minor

#4898 patch release 1.22.2: Docs update
  changelogs/CHANGELOG-v1.22.2.md
  site/config.yaml
  site/content/docs/v1.22.2/_index.md
  site/content/docs/v1.22.2/architecture.md
  site/content/docs/v1.22.2/config/access-logging.md
  site/content/docs/v1.22.2/config/annotations.md
  site/content/docs/v1.22.2/config/api-reference.html
  site/content/docs/v1.22.2/config/api.md
  site/content/docs/v1.22.2/config/client-authorization.md
  site/content/docs/v1.22.2/config/cookie-rewriting.md
  site/content/docs/v1.22.2/config/cors.md
  site/content/docs/v1.22.2/config/external-service-routing.md
  site/content/docs/v1.22.2/config/fundamentals.md
  site/content/docs/v1.22.2/config/health-checks.md
  site/content/docs/v1.22.2/config/inclusion-delegation.md
  site/content/docs/v1.22.2/config/ingress.md
  site/content/docs/v1.22.2/config/rate-limiting.md
  site/content/docs/v1.22.2/config/request-rewriting.md
  site/content/docs/v1.22.2/config/request-routing.md
  site/content/docs/v1.22.2/config/tls-delegation.md
  site/content/docs/v1.22.2/config/tls-termination.md
  site/content/docs/v1.22.2/config/upstream-tls.md
  site/content/docs/v1.22.2/config/virtual-hosts.md
  site/content/docs/v1.22.2/config/websockets.md
  site/content/docs/v1.22.2/configuration.md
  site/content/docs/v1.22.2/deploy-options.md
  site/content/docs/v1.22.2/github.md
  site/content/docs/v1.22.2/grpc-tls-howto.md
  site/content/docs/v1.22.2/img/archoverview.png
  site/content/docs/v1.22.2/img/contour_deployment_in_k8s.png
  site/content/docs/v1.22.2/img/shutdownmanager.png
  site/content/docs/v1.22.2/img/source/shutdownmanager.drawio
  site/content/docs/v1.22.2/redeploy-envoy.md
  site/content/docs/v1.22.2/start-contributing.md
  site/content/docs/v1.22.2/troubleshooting.md
  site/content/docs/v1.22.2/troubleshooting/contour-debug-log.md
  site/content/docs/v1.22.2/troubleshooting/contour-graph.md
  site/content/docs/v1.22.2/troubleshooting/contour-xds-resources.md
  site/content/docs/v1.22.2/troubleshooting/envoy-admin-interface.md
  site/content/docs/v1.22.2/troubleshooting/envoy-debug-log.md
  site/content/docs/v1.22.2/troubleshooting/operator.md
  site/content/docs/v1.22.2/troubleshooting/profiling-contour.md
  site/content/resources/compatibility-matrix.md
  site/content/resources/upgrading.md
  site/data/docs/toc-mapping.yml
  site/data/docs/v1-22-2-toc.yml
  versions.yaml
Labels: release-note/none-required

#4813 Doc updates for "FIPS 140-2 in Contour"
  Dockerfile
  Makefile
  changelogs/unreleased/4813-moeyui1-docs.md
  site/content/guides/fips.md
Labels: release-note/docs

#4900 Bump Envoy to 1.24.1
  Makefile
  changelogs/unreleased/4900-sunjayBhatia-minor.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/minor

#4847 Added getting involved section
  changelogs/unreleased/4847-theVJagrawal-docs.md
  site/themes/contour/assets/scss/_components.scss
  site/themes/contour/assets/scss/_variables.scss
  site/themes/contour/layouts/index.html
  site/themes/contour/layouts/partials/getting-involved.html
Labels: release-note/docs

#4904 1.23.1 docs update
  changelogs/CHANGELOG-v1.23.1.md
  site/config.yaml
  site/content/docs/v1.23.1/_index.md
  site/content/docs/v1.23.1/architecture.md
  site/content/docs/v1.23.1/config/access-logging.md
  site/content/docs/v1.23.1/config/annotations.md
  site/content/docs/v1.23.1/config/api-reference.html
  site/content/docs/v1.23.1/config/api.md
  site/content/docs/v1.23.1/config/client-authorization.md
  site/content/docs/v1.23.1/config/cookie-rewriting.md
  site/content/docs/v1.23.1/config/cors.md
  site/content/docs/v1.23.1/config/external-service-routing.md
  site/content/docs/v1.23.1/config/fundamentals.md
  site/content/docs/v1.23.1/config/health-checks.md
  site/content/docs/v1.23.1/config/inclusion-delegation.md
  site/content/docs/v1.23.1/config/ingress.md
  site/content/docs/v1.23.1/config/jwt-verification.md
  site/content/docs/v1.23.1/config/overload-manager.md
  site/content/docs/v1.23.1/config/rate-limiting.md
  site/content/docs/v1.23.1/config/request-rewriting.md
  site/content/docs/v1.23.1/config/request-routing.md
  site/content/docs/v1.23.1/config/slow-start.md
  site/content/docs/v1.23.1/config/tls-delegation.md
  site/content/docs/v1.23.1/config/tls-termination.md
  site/content/docs/v1.23.1/config/upstream-tls.md
  site/content/docs/v1.23.1/config/virtual-hosts.md
  site/content/docs/v1.23.1/config/websockets.md
  site/content/docs/v1.23.1/configuration.md
  site/content/docs/v1.23.1/deploy-options.md
  site/content/docs/v1.23.1/github.md
  site/content/docs/v1.23.1/grpc-tls-howto.md
  site/content/docs/v1.23.1/img/archoverview.png
  site/content/docs/v1.23.1/img/contour_deployment_in_k8s.png
  site/content/docs/v1.23.1/img/shutdownmanager.png
  site/content/docs/v1.23.1/img/source/shutdownmanager.drawio
  site/content/docs/v1.23.1/redeploy-envoy.md
  site/content/docs/v1.23.1/start-contributing.md
  site/content/docs/v1.23.1/troubleshooting.md
  site/content/docs/v1.23.1/troubleshooting/contour-debug-log.md
  site/content/docs/v1.23.1/troubleshooting/contour-graph.md
  site/content/docs/v1.23.1/troubleshooting/contour-xds-resources.md
  site/content/docs/v1.23.1/troubleshooting/envoy-admin-interface.md
  site/content/docs/v1.23.1/troubleshooting/envoy-debug-log.md
  site/content/docs/v1.23.1/troubleshooting/operator.md
  site/content/docs/v1.23.1/troubleshooting/profiling-contour.md
  site/content/resources/compatibility-matrix.md
  site/content/resources/upgrading.md
  site/data/docs/toc-mapping.yml
  site/data/docs/v1-23-1-toc.yml
  versions.yaml
Labels: release-note/none-required

#4923 deps: bump golang.org/x/net to v0.4.0
  go.mod
  go.sum
Labels: release-note/none-required

#4925 [release-1.22] bump Go to 1.19.4
  .github/workflows/build_daily.yaml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/4922-sunjayBhatia-small.md
  go.mod
  go.sum
Labels: release-note/none-required

#4926 [release-1.21] bump Go to 1.18.9
  .github/workflows/build_daily.yaml
  .github/workflows/label_check.yaml
  .github/workflows/prbuild.yaml
  Makefile
  go.mod
  go.sum
Labels: release-note/none-required

#4905 Use generics for Gateway API pointer helpers
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/status_test.go
  internal/featuretests/v3/httproute_test.go
  internal/featuretests/v3/routeweight_test.go
  internal/featuretests/v3/tlsroute_test.go
  internal/gatewayapi/helpers.go
  internal/gatewayapi/listeners_test.go
  internal/k8s/statusaddress.go
  internal/k8s/statusaddress_test.go
  internal/provisioner/controller/gateway_test.go
  internal/provisioner/controller/gatewayclass_test.go
  internal/ref/ref.go
  internal/status/gatewaystatus.go
  internal/status/gatewaystatus_test.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/host_rewrite_test.go
  test/e2e/gateway/multiple_gateways_and_classes_test.go
  test/e2e/gateway/request_redirect_test.go
  test/e2e/gateway/tls_gateway_test.go
  test/e2e/gateway/tls_wildcard_host_test.go
  test/e2e/provisioner/provisioner_test.go
Labels: release-note/none-required

#4929 Bump Gateway API to 0.6.0-rc.1
  changelogs/unreleased/4830-skriss-deprecation.md
  cmd/contour/serve.go
  examples/contour/02-role-contour.yaml
  examples/gateway-provisioner/01-roles.yaml
  examples/gateway/00-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  go.mod
  go.sum
  internal/controller/gateway.go
  internal/dag/builder_test.go
  internal/dag/cache.go
  internal/dag/cache_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/policy.go
  internal/dag/status_test.go
  internal/featuretests/v3/httproute_test.go
  internal/featuretests/v3/routeweight_test.go
  internal/featuretests/v3/tlsroute_test.go
  internal/gatewayapi/helpers.go
  internal/gatewayapi/listeners.go
  internal/gatewayapi/listeners_test.go
  internal/k8s/rbac.go
  internal/k8s/statusaddress.go
  internal/k8s/statusaddress_test.go
  internal/provisioner/controller/gateway.go
  internal/provisioner/controller/gateway_test.go
  internal/provisioner/controller/gatewayclass_test.go
  internal/provisioner/objects/rbac/clusterrole/cluster_role.go
  internal/ref/ref.go
  internal/status/gatewayclassconditions_test.go
  internal/status/gatewaystatus.go
  internal/status/gatewaystatus_test.go
  internal/status/routeconditions.go
  test/conformance/gatewayapi/gateway_conformance_test.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/host_rewrite_test.go
  test/e2e/gateway/multiple_gateways_and_classes_test.go
  test/e2e/gateway/request_header_modifier_test.go
  test/e2e/gateway/request_redirect_test.go
  test/e2e/gateway/tls_gateway_test.go
  test/e2e/gateway/tls_wildcard_host_test.go
  test/e2e/gateway/tlsroute_test.go
  test/e2e/provisioner/provisioner_test.go
  test/scripts/run-gateway-conformance.sh
Labels: release-note/none-required

#4915 enable TLSRoute service reference in serviceTriggersRebuild
  changelogs/unreleased/4915-vmw-yingy-small.md
  internal/dag/cache.go
  internal/dag/cache_test.go
Labels: release-note/small

#4880 Add grpc_status_number as a default access log field
  apis/projectcontour/v1alpha1/accesslog.go
  apis/projectcontour/v1alpha1/accesslog_test.go
  changelogs/unreleased/4880-rajatvig-small.md
  cmd/contour/servecontext_test.go
  examples/contour/01-contour-config.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  pkg/config/parameters_test.go
Labels: release-note/small

#4912 Do not trigger DAG rebuild for irrelevant HTTProutes/TLSroutes
  changelogs/unreleased/4912-fangfpeng-small.md
  internal/dag/cache.go
  internal/dag/cache_test.go
Labels: release-note/small

#4932 provisioner: Ensure GatewayClass condition generations are updated
  internal/provisioner/controller/gatewayclass.go
  internal/provisioner/controller/gatewayclass_test.go
Labels: release-note/none-required

#4937 update to Kubernetes 1.26
  .github/workflows/prbuild.yaml
  changelogs/unreleased/4937-skriss-small.md
  site/content/resources/compatibility-matrix.md
  test/scripts/make-kind-cluster.sh
  versions.yaml
Labels: release-note/small

#4933 Update Gateway API to 0.6.0-rc2
  cmd/contour/ingressstatus.go
  cmd/contour/serve.go
  examples/contour/01-crds.yaml
  examples/gateway/00-crds.yaml
  examples/gateway/01-admission_webhook.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  go.mod
  go.sum
  hack/generate-crd-yaml.sh
  internal/controller/controller_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/k8s/statusaddress.go
  internal/k8s/statusaddress_test.go
Labels: area/dependency, release-note/none-required

#4943 update docs on leader election
  site/content/docs/main/architecture.md
  site/content/docs/v1.23.2/architecture.md
Labels: release-note/none-required

#4944 Bump Gateway API to v0.6.0
  changelogs/unreleased/4944-sunjayBhatia-minor.md
  examples/gateway/00-crds.yaml
  examples/gateway/01-admission_webhook.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  go.mod
  go.sum
Labels: release-note/minor

#4913 Gateway conformance: Enable HTTPRouteInvalidParentRefNotMatchingListenerPort test
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/status_test.go
  internal/gatewayapi/helpers.go
  test/conformance/gatewayapi/gateway_conformance_test.go
  test/e2e/gateway/multiple_https_listeners_test.go
  test/scripts/run-gateway-conformance.sh
Labels: release-note/none-required

#4909 Added support for `ALL` DNS lookup family
  apis/projectcontour/v1/httpproxy.go
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/contourconfig_helpers.go
  apis/projectcontour/v1alpha1/contourconfig_helpers_test.go
  changelogs/unreleased/4909-Vishal-Chdhry-minor.md
  cmd/contour/bootstrap.go
  cmd/contour/servecontext.go
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/dag.go
  internal/dag/httpproxy_processor.go
  internal/dag/status_test.go
  internal/envoy/bootstrap.go
  internal/envoy/v3/cluster.go
  internal/envoy/v3/cluster_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
Labels: release-note/minor

#4945 Gateway conformance: Run SupportGatewayClassObservedGenerationBump
  test/conformance/gatewayapi/gateway_conformance_test.go
  test/scripts/run-gateway-conformance.sh
Labels: release-note/none-required

#4946 Bumps versions of k8s/testing tools
  hack/actions/install-kubernetes-toolchain.sh
Labels: release-note/none-required
