Repository projectcontour/contour, pull requests merged in 2022-06, with the labels that each got.

#4552 pkg/config: Migrate from gopkg.in/yaml.v2 to v3
  go.mod
  internal/build/version.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  test/e2e/deployment.go
Labels: release-note/none-required

#4558 Gateway API: fix bug with routes having multiple listener refs
  changelogs/unreleased/4558-skriss-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
Labels: release-note/small

#4559 Gateway API: allow wildcard hostnames to match more than one DNS label
  changelogs/unreleased/4559-skriss-small.md
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  test/e2e/gateway/tls_wildcard_host_test.go
Labels: release-note/small

#4561 test/e2e: add flake retries to merge slash test
  test/e2e/httpproxy/merge_slash_test.go
Labels: release-note/none-required

#4387 Add dynamic Runtime layer to bootstrap
  changelogs/unreleased/4387-sunjayBhatia-small.md
  internal/envoy/v3/bootstrap.go
  internal/envoy/v3/bootstrap_test.go
  internal/envoy/v3/runtime.go
  internal/envoy/v3/runtime_test.go
  internal/xdscache/v3/runtime.go
  internal/xdscache/v3/runtime_test.go
Labels: release-note/small

#4570 release-1.21: Bump gopkg.in/yaml.v3 to address CVE-2022-28948
  changelogs/unreleased/4570-tsaarni-small.md
  go.mod
  go.sum
Labels: release-note/small

#4572 main: Bump Envoy to 1.22.2
  Makefile
  changelogs/unreleased/4567-sunjayBhatia-minor.md
  changelogs/unreleased/4572-sunjayBhatia-minor.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/minor

#4573 release-1.21: Bump Envoy to 1.22.2
  Makefile
  changelogs/unreleased/4568-sunjayBhatia-minor.md
  changelogs/unreleased/4573-sunjayBhatia-minor.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
Labels: release-note/minor

#4575 release-1.21: Cherrypicks for v1.21.1
  changelogs/unreleased/4528-skriss-small.md
  changelogs/unreleased/4544-sunjayBhatia-small.md
  internal/dag/secret.go
  internal/dag/secret_test.go
  internal/fixture/certificate_constants.go
  test/e2e/httpproxy/merge_slash_test.go
Labels: release-note/none-required

#4576 release-1.20: Cherrypicks for v1.20.2
  changelogs/unreleased/4528-skriss-small.md
  changelogs/unreleased/4544-sunjayBhatia-small.md
  internal/dag/secret.go
  internal/dag/secret_test.go
  internal/fixture/certificate_constants.go
Labels: release-note/none-required

#4584 test/e2e/incluster: Contour/Envoy listening on ipv6 in an ipv4 cluster
  test/e2e/incluster/incluster_test.go
Labels: release-note/none-required

#4562 update to Gateway API v0.5.0-rc1
  Makefile
  examples/contour/01-crds.yaml
  examples/gateway/00-crds.yaml
  examples/gateway/01-admission_webhook.yaml
  examples/gateway/02-certificate_config.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  go.mod
  go.sum
  internal/dag/builder_test.go
  internal/dag/cache.go
  internal/dag/cache_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/status_test.go
  internal/featuretests/v3/httproute_test.go
  internal/featuretests/v3/routeweight_test.go
  internal/featuretests/v3/tlsroute_test.go
  internal/gatewayapi/helpers.go
  internal/provisioner/controller/gateway_test.go
  internal/status/routeconditions.go
  internal/status/routeconditions_test.go
  test/e2e/gateway/gateway_allow_type_test.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/header_condition_match_test.go
  test/e2e/gateway/host_rewrite_test.go
  test/e2e/gateway/invalid_backend_ref_test.go
  test/e2e/gateway/multiple_https_listeners_test.go
  test/e2e/gateway/path_condition_match_test.go
  test/e2e/gateway/request_header_modifier_test.go
  test/e2e/gateway/request_mirror_test.go
  test/e2e/gateway/request_redirect_test.go
  test/e2e/gateway/tls_gateway_test.go
  test/e2e/gateway/tls_wildcard_host_test.go
  test/e2e/gateway/tlsroute_test.go
  test/e2e/provisioner/provisioner_test.go
  test/scripts/make-kind-cluster.sh
Labels: release-note/none-required

#4580 Gateway API: add support for ReferenceGrant
  changelogs/unreleased/4580-skriss-deprecation.md
  changelogs/unreleased/4580-skriss-small.md
  cmd/contour/serve.go
  examples/contour/02-role-contour.yaml
  examples/gateway-provisioner/01-roles.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/builder_test.go
  internal/dag/cache.go
  internal/dag/cache_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/k8s/rbac.go
  internal/provisioner/objects/rbac/clusterrole/cluster_role.go
  site/content/resources/security-threat-model.md
Labels: release-note/small, release-note/deprecation

#4581 Gateway API: adjust conformance runs
  .github/workflows/build_daily.yaml
  Makefile
  test/scripts/run-gateway-conformance.sh
Labels: release-note/none-required

#4585 internal/provisioner: Bind create label operation for contour's deployment to the object
  changelogs/unreleased/4585-izturn-minor.md
  internal/provisioner/model/names.go
  internal/provisioner/objects/dataplane/dataplane.go
  internal/provisioner/objects/deployment/deployment.go
Labels: release-note/minor

#4586 internal/provisioner: Use local variable to replace the long access chain of fields
  changelogs/unreleased/4586-izturn-minor.md
  internal/provisioner/objects/service/service.go
  test/e2e/deployment.go
Labels: release-note/minor

#4588 Gateway API: implement HTTP query param matching
  changelogs/unreleased/4588-skriss-minor.md
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/gatewayapi/helpers.go
  internal/sorter/sorter.go
  internal/sorter/sorter_test.go
  internal/status/routeconditions.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/query_param_match_test.go
Labels: release-note/minor

#4592 Adds support for client certificate revocation.
  apis/projectcontour/v1/httpproxy.go
  changelogs/unreleased/4592-tsaarni-minor.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  go.mod
  go.sum
  internal/dag/builder_test.go
  internal/dag/cache.go
  internal/dag/dag.go
  internal/dag/httpproxy_processor.go
  internal/dag/secret.go
  internal/dag/secret_test.go
  internal/envoy/v3/auth.go
  internal/envoy/v3/listener_test.go
  internal/featuretests/kubernetes.go
  internal/featuretests/v3/downstreamvalidation_test.go
  internal/fixture/certificate_constants.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/config/tls-termination.md
  test/e2e/httpproxy/client_cert_crl_test.go
  test/e2e/httpproxy/httpproxy_test.go
Labels: release-note/minor

#4596 Gateway API: use v1beta1 API for HTTPRoute
  internal/controller/httproute.go
  internal/dag/builder_test.go
  internal/dag/cache.go
  internal/dag/cache_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/policy.go
  internal/dag/status_test.go
  internal/featuretests/v3/httproute_test.go
  internal/featuretests/v3/routeweight_test.go
  internal/featuretests/v3/tlsroute_test.go
  internal/gatewayapi/helpers.go
  internal/k8s/kind.go
  internal/status/cache.go
  internal/status/cache_test.go
  internal/status/routeconditions.go
  internal/status/routeconditions_test.go
  test/e2e/framework.go
  test/e2e/gateway/gateway_allow_type_test.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/header_condition_match_test.go
  test/e2e/gateway/host_rewrite_test.go
  test/e2e/gateway/invalid_backend_ref_test.go
  test/e2e/gateway/multiple_https_listeners_test.go
  test/e2e/gateway/path_condition_match_test.go
  test/e2e/gateway/query_param_match_test.go
  test/e2e/gateway/request_header_modifier_test.go
  test/e2e/gateway/request_mirror_test.go
  test/e2e/gateway/request_redirect_test.go
  test/e2e/gateway/tls_gateway_test.go
  test/e2e/gateway/tls_wildcard_host_test.go
  test/e2e/gateway/tlsroute_test.go
  test/e2e/provisioner/provisioner_test.go
Labels: release-note/none-required

#4599 Gateway API: update branch name for daily conformance tests
  .github/workflows/build_daily.yaml
Labels: release-note/none-required

#4598 Gateway API: use upstream condition types and values
  changelogs/unreleased/4598-skriss-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/status/gatewayclassconditions.go
  internal/status/gatewayclassconditions_test.go
  internal/status/gatewaystatus.go
  internal/status/gatewaystatus_test.go
  internal/status/routeconditions.go
  test/e2e/gateway/invalid_backend_ref_test.go
  test/e2e/gateway/multiple_gateways_and_classes_test.go
Labels: release-note/small

#4601 Correct contributing documentation link on website
  site/themes/contour/layouts/partials/team.html
Labels: release-note/none-required
