Repository projectcontour/contour, pull requests merged in 2022-05, with the labels that each got.

#4505 fix Gateway API hostname intersection logic
  changelogs/unreleased/4505-skriss-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/status_test.go
  internal/gatewayapi/listeners.go
  internal/gatewayapi/listeners_test.go
  internal/status/routeconditions.go
Labels: release-note/small

#4508 Add query parameter hash policy
  apis/projectcontour/v1/httpproxy.go
  apis/projectcontour/v1/zz_generated.deepcopy.go
  changelogs/unreleased/4508-sunjayBhatia-minor.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/policy.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/loadbalancerpolicy_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/config/request-routing.md
Labels: release-note/minor

#4509 Bump Go to 1.18.1
  .github/workflows/build_daily.yaml
  .github/workflows/label_check.yaml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/4509-sunjayBhatia-small.md
Labels: release-note/small

#4489 Gateway API: update to v0.4.3, add validating webhook
  Makefile
  changelogs/unreleased/4489-skriss-small.md
  examples/gateway/01-admission_webhook.yaml
  examples/gateway/02-certificate_config.yaml
  examples/gateway/03-gatewayclass.yaml
  examples/gateway/04-gateway.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  go.mod
  go.sum
  hack/generate-gateway-deployment.sh
  hack/generate-provisioner-deployment.sh
  test/e2e/gateway/invalid_forward_to_test.go
  test/scripts/make-kind-cluster.sh
Labels: release-note/small

#4512 internal/dag: check routes for intersecting hostnames across all listeners
  changelogs/unreleased/4512-skriss-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
Labels: release-note/small

#4501 update quickstart and Gateway API guide
  examples/example-workload/gatewayapi/kuard/kuard.yaml
  netlify.toml
  site/content/getting-started/_index.md
  site/content/guides/gateway-api.md
Labels: release-note/none-required

#4517 fix gateway provisioner manifest links
  netlify.toml
  site/content/getting-started/_index.md
  site/content/guides/gateway-api.md
Labels: release-note/none-required

#4523 internal/dag: compute Listener supported kinds sooner
  changelogs/unreleased/4523-skriss-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
Labels: release-note/small

#4477 internal/envoy: use Envoy's path-based prefix matching
  changelogs/unreleased/4477-mmalecki-small.md
  go.mod
  go.sum
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/featuretests/v3/envoy.go
  internal/xdscache/v3/route_test.go
Labels: release-note/small

#4542 Update Community Page and Footer
  site/content/community/_index.html
  site/themes/contour/layouts/partials/footer.html
Labels: release-note/none-required

#4545 Gateway API: return a 404 when no valid backend refs
  changelogs/unreleased/4545-skriss-small.md
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/invalid_backend_ref_test.go
Labels: release-note/small

#4544 internal/dag: Fix private key validation logic
  changelogs/unreleased/4544-sunjayBhatia-small.md
  internal/dag/secret.go
  internal/dag/secret_test.go
  internal/fixture/certificate_constants.go
Labels: release-note/small

#4535 internal/envoy/v3: Use path_config_source for config source specifier
  internal/envoy/v3/bootstrap.go
  internal/envoy/v3/bootstrap_test.go
Labels: release-note/none-required

#4534 apis: remove ContourConfiguration DebugLogLevel and KubernetesDebugLogLevel
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/contourconfig_helpers.go
  apis/projectcontour/v1alpha1/contourconfig_helpers_test.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/4534-skriss-small.md
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/contourconfig/contourconfiguration.go
  internal/contourconfig/contourconfiguration_test.go
  site/content/docs/main/config/api-reference.html
  test/e2e/fixtures.go
Labels: release-note/small

#4546 updates for Kubernetes 1.24
  .github/workflows/prbuild.yaml
  changelogs/unreleased/4546-skriss-small.md
  go.mod
  go.sum
  hack/actions/install-kubernetes-toolchain.sh
  internal/status/gatewayclassconditions_test.go
  internal/status/routeconditions.go
  site/content/resources/compatibility-matrix.md
  test/e2e/fixtures.go
  test/e2e/httpproxy/required_field_validation_test.go
  test/e2e/httpproxy/retry_policy_validation_test.go
  test/scripts/make-kind-cluster.sh
  versions.yaml
Labels: release-note/small

#4529 test/e2e: e2e tests can be run against an ipv6 cluster
  .github/workflows/build_daily.yaml
  test/e2e/deployment.go
  test/e2e/fixtures.go
  test/e2e/framework.go
  test/e2e/provisioner/provisioner_test.go
  test/scripts/kind-ipv6.yaml
  test/scripts/make-kind-cluster.sh
Labels: release-note/none-required

#4491 internal/provisioner: Refactor for objects/service
  internal/provisioner/objects/service/service.go
Labels: release-note/none-required

#4549 site/content/resources: Fix supported versions Q3 2022 example
  site/content/resources/support.md
Labels: release-note/none-required

#4548 cmd/contour: change shutdown --check-delay default to 0s
  changelogs/unreleased/4548-skriss-small.md
  cmd/contour/shutdownmanager.go
  site/content/docs/main/redeploy-envoy.md
  test/e2e/deployment.go
Labels: release-note/small

#4551 Bump gopkg.in/yaml.v3 to address CVE-2022-28948
  changelogs/unreleased/4551-tsaarni-small.md
  go.mod
  go.sum
Labels: release-note/small

#4550 update to Go 1.18.2 and setup-go v3
  .github/workflows/build_daily.yaml
  .github/workflows/prbuild.yaml
  Makefile
Labels: release-note/none-required
