Repository projectcontour/contour, pull requests merged in 2022-02, with the labels that each got.

#4315 minor docs edits
  site/content/docs/main/_index.md
  site/content/docs/v1.20.0/_index.md
  site/content/resources/philosophy.md
Labels: release-note/none-required

#4316 internal/dag: removed duplicated function for secret validation
  changelogs/unreleased/4316-alessandroargentieri-small.md
  internal/dag/accessors.go
  internal/dag/extension_processor.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/ingress_processor.go
  internal/dag/secret.go
  internal/dag/secret_test.go
Labels: release-note/small

#4314 stop pushing images to Docker Hub
  .github/workflows/build_main.yaml
  .github/workflows/build_tag.yaml
  changelogs/unreleased/4314-skriss-major.md
Labels: release-note/major

#4109 Multiple ingress classes
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/4109-erwbgy-small.md
  cmd/contour/serve.go
  cmd/contour/serve_test.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/cache.go
  internal/ingressclass/ingressclass.go
  internal/ingressclass/ingressclass_test.go
  site/content/docs/main/config/annotations.md
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/config/ingress.md
  site/content/docs/main/configuration.md
  site/content/docs/main/deploy-options.md
  test/e2e/httpproxy/httpproxy_test.go
  test/e2e/httpproxy/multiple_ingress_classes_test.go
  test/e2e/ingress/ingress_class_test.go
  test/e2e/ingress/ingress_test.go
Labels: release-note/small

#4329 4109 followups
  changelogs/unreleased/4329-skriss-small.md
  cmd/contour/ingressstatus.go
  cmd/contour/serve.go
  cmd/contour/serve_test.go
  examples/contour/02-role-contour.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/cache.go
  internal/dag/cache_test.go
  internal/featuretests/v3/ingressclass_test.go
  internal/featuretests/v3/route_test.go
  internal/ingressclass/ingressclass.go
  internal/ingressclass/ingressclass_test.go
  internal/k8s/rbac.go
  internal/k8s/statusaddress.go
  internal/k8s/statusaddress_test.go
  test/e2e/httpproxy/httpproxy_test.go
  test/e2e/httpproxy/multiple_ingress_classes_test.go
Labels: release-note/small

#4334 Add deprecation PR label
  site/data/github-labels.yaml
Labels: release-note/none-required

#4332 Leader election only uses Lease object
  changelogs/unreleased/4332-sunjayBhatia-minor.md
  cmd/contour/serve.go
  examples/contour/01-contour-config.yaml
  examples/contour/02-role-contour.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/k8s/rbac.go
  site/content/docs/main/configuration.md
  test/e2e/deployment.go
  test/e2e/incluster/leaderelection_test.go
Labels: release-note/minor

#4204 Switch to Role for leaderelection resource RBAC
  changelogs/unreleased/4204-sunjayBhatia-major.md
  examples/contour/02-rbac.yaml
  examples/contour/02-role-contour.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/k8s/rbac.go
  test/e2e/deployment.go
Labels: release-note/major

#4323 Sanitize dot-graph output
  changelogs/unreleased/4323-kb000-small.md
  internal/dag/dag.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/ingress_processor.go
  internal/debug/dot.go
  internal/debug/dot_test.go
  internal/debug/mocks/dag_builder.go
Labels: release-note/small

#4333 release-note/deprecation PR label validated by tooling
  .github/workflows/label_check.yaml
  CONTRIBUTING.md
  changelogs/unreleased/deprecation-sample.md
  hack/actions/check-changefile-exists.go
  hack/release/prepare-release.go
  hack/release/release-notes-template.md
  site/data/github-labels.yaml
Labels: release-note/none-required

#4340 pkg/config: Remove leader election configuration
  changelogs/unreleased/4340-sunjayBhatia-deprecation.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
Labels: release-note/deprecation

#4326 Added configurable upstream connect timeout
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/4326-tsaarni-small.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-contour-config.yaml
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/contourconfig/contourconfiguration.go
  internal/contourconfig/contourconfiguration_test.go
  internal/dag/dag.go
  internal/dag/extension_processor.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/ingress_processor.go
  internal/envoy/v3/cluster.go
  internal/envoy/v3/cluster_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
Labels: release-note/small

#4352 Combine office hours and community meetings in one
  site/content/community/_index.html
Labels: release-note/none-required, area/community

#4361 Bump github.com/prometheus/client_golang
  changelogs/unreleased/4361-tsaarni-small.md
  go.mod
  go.sum
Labels: release-note/small

#4331 Add configurable log level for access log.
  apis/projectcontour/v1alpha1/accesslog.go
  apis/projectcontour/v1alpha1/contourconfig.go
  changelogs/unreleased/4331-tsaarni-minor.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-contour-config.yaml
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/envoy/v3/accesslog.go
  internal/envoy/v3/accesslog_test.go
  internal/envoy/v3/listener_test.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/globalratelimit_test.go
  internal/featuretests/v3/listeners_test.go
  internal/featuretests/v3/timeouts_test.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/listener_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
Labels: release-note/minor

#4293 test/e2e/incluster: Dump Contour pod logs after each test
  test/e2e/deployment.go
  test/e2e/framework.go
  test/e2e/incluster/incluster_test.go
Labels: release-note/none-required

#4350 internal/envoy: fix cluster deduplication
  changelogs/unreleased/4350-tsaarni-small.md
  internal/envoy/cluster.go
  internal/envoy/v3/cluster_test.go
  internal/featuretests/v3/backendcavalidation_test.go
  internal/featuretests/v3/backendclientauth_test.go
  internal/featuretests/v3/externalname_test.go
  internal/featuretests/v3/headerpolicy_test.go
  internal/featuretests/v3/tcpproxy_test.go
  internal/featuretests/v3/upstreamprotocol_test.go
  internal/xdscache/v3/cluster_test.go
Labels: release-note/small

#4369 Cherrypicks for Contour 1.20.1
  Makefile
  changelogs/unreleased/4350-tsaarni-small.md
  changelogs/unreleased/4361-tsaarni-small.md
  changelogs/unreleased/4365-skriss-small.md
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  go.mod
  go.sum
  internal/envoy/cluster.go
  internal/envoy/v3/cluster_test.go
  internal/featuretests/v3/backendcavalidation_test.go
  internal/featuretests/v3/backendclientauth_test.go
  internal/featuretests/v3/externalname_test.go
  internal/featuretests/v3/headerpolicy_test.go
  internal/featuretests/v3/tcpproxy_test.go
  internal/featuretests/v3/upstreamprotocol_test.go
  internal/xdscache/v3/cluster_test.go
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/none-required

#4370 Docs for v1.20.1 release
  changelogs/CHANGELOG-v1.20.1.md
  site/config.yaml
  site/content/docs/v1.20.1/_index.md
  site/content/docs/v1.20.1/architecture.md
  site/content/docs/v1.20.1/config/access-logging.md
  site/content/docs/v1.20.1/config/annotations.md
  site/content/docs/v1.20.1/config/api-reference.html
  site/content/docs/v1.20.1/config/api.md
  site/content/docs/v1.20.1/config/client-authorization.md
  site/content/docs/v1.20.1/config/cookie-rewriting.md
  site/content/docs/v1.20.1/config/cors.md
  site/content/docs/v1.20.1/config/external-service-routing.md
  site/content/docs/v1.20.1/config/fundamentals.md
  site/content/docs/v1.20.1/config/health-checks.md
  site/content/docs/v1.20.1/config/inclusion-delegation.md
  site/content/docs/v1.20.1/config/ingress.md
  site/content/docs/v1.20.1/config/rate-limiting.md
  site/content/docs/v1.20.1/config/request-rewriting.md
  site/content/docs/v1.20.1/config/request-routing.md
  site/content/docs/v1.20.1/config/tls-delegation.md
  site/content/docs/v1.20.1/config/tls-termination.md
  site/content/docs/v1.20.1/config/upstream-tls.md
  site/content/docs/v1.20.1/config/virtual-hosts.md
  site/content/docs/v1.20.1/config/websockets.md
  site/content/docs/v1.20.1/configuration.md
  site/content/docs/v1.20.1/deploy-options.md
  site/content/docs/v1.20.1/github.md
  site/content/docs/v1.20.1/grpc-tls-howto.md
  site/content/docs/v1.20.1/img/archoverview.png
  site/content/docs/v1.20.1/img/contour_deployment_in_k8s.png
  site/content/docs/v1.20.1/img/shutdownmanager.png
  site/content/docs/v1.20.1/img/source/shutdownmanager.drawio
  site/content/docs/v1.20.1/redeploy-envoy.md
  site/content/docs/v1.20.1/start-contributing.md
  site/content/docs/v1.20.1/troubleshooting.md
  site/content/docs/v1.20.1/troubleshooting/contour-debug-log.md
  site/content/docs/v1.20.1/troubleshooting/contour-graph.md
  site/content/docs/v1.20.1/troubleshooting/contour-xds-resources.md
  site/content/docs/v1.20.1/troubleshooting/envoy-admin-interface.md
  site/content/docs/v1.20.1/troubleshooting/envoy-debug-log.md
  site/content/docs/v1.20.1/troubleshooting/operator.md
  site/content/docs/v1.20.1/troubleshooting/profiling-contour.md
  site/content/resources/compatibility-matrix.md
  site/content/resources/upgrading.md
  site/data/docs/toc-mapping.yml
  site/data/docs/v1-20-1-toc.yml
  versions.yaml
Labels: release-note/none-required

#4368 Add question issue template
  .github/ISSUE_TEMPLATE/question.md
Labels: release-note/none-required

#4372 Fix docs link rendering
  site/content/docs/main/config/request-routing.md
  site/content/docs/v1.20.0/config/request-routing.md
  site/content/docs/v1.20.1/config/request-routing.md
Labels: release-note/none-required

#4347 site/docs: Update AWS NLB Guide with correct annotations
  changelogs/unreleased/4347-yankay-docs.md
  site/content/guides/deploy-aws-tls-nlb.md
Labels: release-note/docs

#4375 site: improve contrast for code blocks
  site/themes/contour/assets/scss/_components.scss
Labels: release-note/none-required
