Repository projectcontour/contour, pull requests merged in 2023-07, with the labels that each got.

#5463 Fix dag rebuild trigger when Secret object changes
  changelogs/unreleased/5463-tsaarni-small.md
  internal/dag/cache.go
  internal/dag/cache_test.go
  test/e2e/httpproxy/client_cert_crl_test.go
Labels: release-note/small

#5555 update to Go 1.20.6
  .github/workflows/build_daily.yaml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/5502-sunjayBhatia-small.md
  changelogs/unreleased/5555-skriss-small.md
Labels: release-note/small

#5513 Allow changing per_connection_buffer_limit_bytes using contour configuration for listeners
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/5513-rajatvig-minor.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/envoy/v3/listener.go
  internal/envoy/v3/listener_test.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/listener_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
Labels: release-note/minor

#5363 Add support for General RateLimit Policy
  apis/projectcontour/v1/httpproxy.go
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/5363-shadialtarsha-minor.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  design/default-global-rate-limit-policy.md
  examples/contour/01-crds.yaml
  examples/ratelimit/04-default-global-ratelimit-contour-config.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/contourconfig/contourconfiguration_test.go
  internal/dag/httpproxy_processor.go
  internal/dag/httpproxy_processor_test.go
  internal/dag/policy.go
  internal/featuretests/v3/globalratelimit_test.go
  pkg/config/parameters.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/guides/global-rate-limiting.md
  test/e2e/httpproxy/default_global_rate_limiting_test.go
  test/e2e/httpproxy/httpproxy_test.go
Labels: release-note/minor

#5534 access log: support logging source resource metadata
  apis/projectcontour/v1alpha1/accesslog.go
  apis/projectcontour/v1alpha1/contourconfig_helpers.go
  changelogs/unreleased/5534-skriss-small.md
  cmd/contour/serve.go
  cmd/contour/serve_test.go
  internal/dag/dag.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/ingress_processor.go
  internal/envoy/v3/accesslog.go
  internal/envoy/v3/route.go
  internal/featuretests/v3/routesourcemetadata_test.go
  site/content/docs/main/config/access-logging.md
  site/content/docs/main/configuration.md
  site/content/docs/main/guides/structured-logs.md
  site/data/docs/main-toc.yml
Labels: release-note/small

#5559 Fix: Make order of Ext auth and Global ratelimit uniform
  changelogs/unreleased/5559-clayton-gonsalves-small.md
  internal/xdscache/v3/listener.go
Labels: kind/bug, release-note/small

#5570 Increase `bootstrapCmd` timeout
  test/e2e/deployment.go
Labels: release-note/none-required

#5481 Gateway API: support TLS termination with TLSRoute/TCPRoute
  changelogs/unreleased/5481-skriss-minor.md
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/featuretests/v3/tcproute_test.go
  internal/featuretests/v3/tlsroute_test.go
  internal/xdscache/v3/listener.go
Labels: release-note/minor

#5574 remove vcert replace
  go.mod
Labels: release-note/none-required

#5567 Allow for case insensitive header matching
  apis/projectcontour/v1/httpproxy.go
  changelogs/unreleased/5567-davinci26-minor.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/conditions.go
  internal/dag/dag.go
  internal/dag/httpproxy_processor.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/featuretests/v3/headercondition_test.go
  internal/featuretests/v3/httpproxy.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/config/request-routing.md
  test/e2e/httpproxy/header_condition_match_test.go
Labels: release-note/minor

#5590 release-1.24: Bump Envoy to 1.25.9
  Makefile
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
Labels: release-note/none-required

#5592 1.24.5 and 1.25.1 changelogs
  changelogs/CHANGELOG-v1.24.5.md
  changelogs/CHANGELOG-v1.25.1.md
Labels: release-note/none-required

#5593 patch release docs updates
  changelogs/CHANGELOG-v1.23.6.md
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/none-required

#5594 update Envoy to v1.27.0
  Makefile
  changelogs/unreleased/5449-sunjayBhatia-small.md
  changelogs/unreleased/5594-skriss-small.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/small

#5595 release-1.25: Bump client-go to 1.26.7
  cmd/contour/serve.go
  go.mod
  go.sum
Labels: release-note/none-required

#5596 v1.25.2 changelog
  changelogs/CHANGELOG-v1.25.2.md
Labels: release-note/none-required

#5597 Add dependabot config for release branches
  .github/dependabot.yml
  site/content/resources/release-process.md
Labels: release-note/none-required

#5585 Cleanup: Use Envoy contains for header routing
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
Labels: release-note/none-required

#5584 Adds support for treating missing headers as empty
  Makefile
  apis/projectcontour/v1/httpproxy.go
  changelogs/unreleased/5584-davinci26-minor.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/conditions.go
  internal/dag/dag.go
  internal/dag/httpproxy_processor.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/featuretests/v3/headercondition_test.go
  internal/featuretests/v3/httpproxy.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/config/request-routing.md
  test/e2e/httpproxy/header_condition_match_test.go
Labels: release-note/minor
