Repository projectcontour/contour, pull requests merged in 2023-01, with the labels that each got.

#4950 dag/gatewayapi: Remove redundant type params
  internal/dag/gatewayapi_processor.go
Labels: release-note/none-required

#4955 add gojek as adopter
  ADOPTERS.md
  site/img/adopters/gojek.svg
Labels: release-note/none-required

#4959 Gateway API-related docs updates
  README.md
  site/content/getting-started/_index.md
Labels: release-note/none-required

#4956 internal/envoy: fix no router filter crash
  internal/envoy/v3/listener.go
Labels: release-note/none-required

#4962 Gateway API: support URLRewrite filter
  changelogs/unreleased/4962-skriss-small.md
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/status_test.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  test/conformance/gatewayapi/gateway_conformance_test.go
  test/scripts/run-gateway-conformance.sh
Labels: release-note/small

#4958 cmd/contour: sort the option flags
  changelogs/unreleased/4958-izturn-small.md
  cmd/contour/bootstrap.go
  cmd/contour/certgen.go
  cmd/contour/certgen_test.go
  cmd/contour/cli.go
  cmd/contour/contour.go
  cmd/contour/contour_test.go
  cmd/contour/gatewayprovisioner.go
  cmd/contour/serve.go
  cmd/contour/shutdownmanager.go
Labels: release-note/small

#4963 test/e2e: App poller logs request/response errors
  test/e2e/poller.go
  test/e2e/upgrade/upgrade_test.go
Labels: release-note/none-required

#4967 remove shutdown-manager liveness probe
  changelogs/unreleased/4967-skriss-minor.md
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/provisioner/equality/equality_test.go
  internal/provisioner/objects/dataplane/dataplane.go
  site/content/docs/main/redeploy-envoy.md
Labels: release-note/minor

#4970 site: add troubleshooting doc for unready Envoy
  site/content/docs/main/deploy-options.md
  site/content/docs/main/troubleshooting.md
  site/content/docs/main/troubleshooting/envoy-container-draining.md
  site/data/docs/main-toc.yml
Labels: release-note/none-required

#4966 update the staled controller name to projectcontour.io/gateway-controller
  changelogs/unreleased/4966-izturn-docs.md
  cmd/contour/servecontext_test.go
  examples/contour/01-contour-config.yaml
  examples/gateway/03-gatewayclass.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  hack/generate-gateway-deployment.sh
  site/content/docs/main/configuration.md
  site/content/guides/gateway-api.md
  test/e2e/gateway/multiple_gateways_and_classes_test.go
Labels: release-note/docs

#4961 test/e2e/gateway: Remove redundant tests
  test/e2e/gateway/path_condition_match_test.go
  test/e2e/gateway/request_redirect_test.go
Labels: release-note/none-required

#4972 update generate-crd-yaml.sh to be macOS-compatible
  hack/generate-crd-yaml.sh
Labels: release-note/none-required

#4976 fix target port in AWS NLB TLS guide
  site/content/guides/deploy-aws-tls-nlb.md
Labels: release-note/none-required

#4971 expose configuration for envoy's RateLimitedAsResourceExhausted
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/4971-vroldanbet-small.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-contour-config.yaml
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/envoy/v3/ratelimit.go
  internal/envoy/v3/ratelimit_test.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/listener_test.go
  pkg/config/parameters.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
Labels: release-note/small

#4978 Add additional go build environment variables to image build
  Dockerfile
  Makefile
Labels: release-note/none-required

#4977 move guides into versioned documentation
  Makefile
  changelogs/unreleased/4977-skriss-docs.md
  site/content/docs/main/_index.md
  site/content/docs/main/config/client-authorization.md
  site/content/docs/main/configuration.md
  site/content/docs/main/deploy-options.md
  site/content/docs/main/guides/_index.md
  site/content/docs/main/guides/cert-manager.md
  site/content/docs/main/guides/deploy-aws-nlb.md
  site/content/docs/main/guides/deploy-aws-tls-nlb.md
  site/content/docs/main/guides/external-authorization.md
  site/content/docs/main/guides/fips.md
  site/content/docs/main/guides/gatekeeper.md
  site/content/docs/main/guides/gateway-api.md
  site/content/docs/main/guides/global-rate-limiting.md
  site/content/docs/main/guides/grpc.md
  site/content/docs/main/guides/health-checking.md
  site/content/docs/main/guides/kind.md
  site/content/docs/main/guides/metrics/table.md
  site/content/docs/main/guides/prometheus.md
  site/content/docs/main/guides/proxy-proto.md
  site/content/docs/main/guides/resource-limits.md
  site/content/docs/main/guides/structured-logs.md
  site/content/docs/v1.23.2/_index.md
  site/content/docs/v1.23.2/config/client-authorization.md
  site/content/docs/v1.23.2/configuration.md
  site/content/docs/v1.23.2/deploy-options.md
  site/content/docs/v1.23.2/guides/_index.md
  site/content/docs/v1.23.2/guides/cert-manager.md
  site/content/docs/v1.23.2/guides/deploy-aws-nlb.md
  site/content/docs/v1.23.2/guides/deploy-aws-tls-nlb.md
  site/content/docs/v1.23.2/guides/external-authorization.md
  site/content/docs/v1.23.2/guides/fips.md
  site/content/docs/v1.23.2/guides/gatekeeper.md
  site/content/docs/v1.23.2/guides/gateway-api.md
  site/content/docs/v1.23.2/guides/global-rate-limiting.md
  site/content/docs/v1.23.2/guides/grpc.md
  site/content/docs/v1.23.2/guides/health-checking.md
  site/content/docs/v1.23.2/guides/kind.md
  site/content/docs/v1.23.2/guides/metrics/table.md
  site/content/docs/v1.23.2/guides/prometheus.md
  site/content/docs/v1.23.2/guides/proxy-proto.md
  site/content/docs/v1.23.2/guides/resource-limits.md
  site/content/docs/v1.23.2/guides/structured-logs.md
  site/content/getting-started/_index.md
  site/content/resources/faq.md
  site/data/docs/main-toc.yml
  site/data/docs/v1-23-2-toc.yml
  site/themes/contour/layouts/partials/header.html
  site/themes/contour/layouts/shortcodes/metrics-table.html
Labels: release-note/docs

#4980 update to Go 1.19.5
  .github/workflows/build_daily.yaml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/4980-skriss-small.md
Labels: release-note/small

#4973 internal/provisioner: add support to NodePortServicePublishingType
  apis/projectcontour/v1alpha1/contourdeployment.go
  changelogs/unreleased/4973-izturn-small.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/provisioner/controller/gateway.go
  internal/provisioner/controller/gateway_test.go
  site/content/docs/main/config/api-reference.html
Labels: release-note/small

#4988 update Envoy to v1.25.0
  Makefile
  changelogs/unreleased/4988-skriss-minor.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/minor

#4931 internal/dag: Fix comparison of include match conditions
  changelogs/unreleased/4931-sunjayBhatia-minor.md
  internal/dag/builder_test.go
  internal/dag/conditions.go
  internal/dag/httpproxy_processor.go
  internal/dag/status_test.go
  internal/featuretests/v3/route_test.go
Labels: release-note/minor

#4989 update to Kubernetes 1.26.1
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  go.mod
  go.sum
  hack/generate-crd-yaml.sh
Labels: release-note/none-required

#4992 delete unused internal/errors package
  internal/errors/errors.go
  internal/errors/errors_test.go
Labels: release-note/none-required

#4993 internal/xds/v3: Improve logging on connection close
  changelogs/unreleased/4993-sunjayBhatia-small.md
  internal/xds/v3/callbacks.go
  internal/xds/v3/callbacks_test.go
  internal/xds/v3/contour.go
  internal/xds/v3/contour_test.go
Labels: release-note/small

#4906 Ability to disable Envoy adding server headers to responses
  apis/projectcontour/v1alpha1/contourconfig.go
  changelogs/unreleased/4906-Vishal-Chdhry-minor.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/contourconfig/contourconfiguration.go
  internal/contourconfig/contourconfiguration_test.go
  internal/envoy/v3/listener.go
  internal/envoy/v3/listener_test.go
  internal/featuretests/v3/listeners_test.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/listener_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
Labels: release-note/minor

#4996 Small changelog adjustments for upcoming release
  changelogs/unreleased/4900-sunjayBhatia-minor.md
  changelogs/unreleased/4909-Vishal-Chdhry-minor.md
  changelogs/unreleased/4922-sunjayBhatia-small.md
  changelogs/unreleased/4944-sunjayBhatia-major.md
  changelogs/unreleased/4967-skriss-major.md
Labels: release-note/none-required

#5003 cmd/contour: allow Kube client QPS/burst configuration
  changelogs/unreleased/5003-skriss-minor.md
  cmd/contour/serve.go
  internal/k8s/clients.go
  pkg/config/parameters.go
  site/content/docs/main/configuration.md
Labels: release-note/minor

#5004 internal/metrics: drop empty labels from dagRebuildGauge
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Labels: release-note/none-required

#5009 add summary metric for DAG rebuild duration
  changelogs/unreleased/5009-skriss-small.md
  cmd/contour/serve.go
  internal/dag/builder.go
  internal/metrics/metrics.go
  site/content/docs/main/guides/metrics/table.md
Labels: release-note/small

#5017 internal/dag: Loosen restrictions on duplicate include detection
  changelogs/unreleased/4931-sunjayBhatia-major.md
  changelogs/unreleased/4931-sunjayBhatia-minor.md
  internal/dag/httpproxy_processor.go
  internal/dag/status_test.go
Labels: release-note/none-required

#5032 drop unneeded toolchain installations
  Makefile
  go.mod
  go.sum
  hack/actions/install-kubernetes-toolchain.sh
  tools.go
Labels: release-note/none-required
