Repository projectcontour/contour, pull requests merged in 2023-09, with the labels that each got.

#5735 remove Gateway API webhook
  Makefile
  changelogs/unreleased/5735-skriss-small.md
  examples/gateway/00-namespace.yaml
  examples/gateway/01-admission_webhook.yaml
  examples/gateway/02-certificate_config.yaml
  examples/global-external-auth/01-authserver.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  hack/generate-gateway-deployment.sh
  hack/generate-gateway-yaml.sh
  hack/generate-provisioner-deployment.sh
  test/scripts/make-kind-cluster.sh
Labels: release-note/small

#5703 Design: Endpoint slice support
  design/endpoint-slice-support.md
Labels: kind/design, release-note/none-required

#5699 provisioner: add field overloadMaxHeapSize for envoy
  apis/projectcontour/v1alpha1/contourdeployment.go
  changelogs/unreleased/5699-yangyy93-small.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/provisioner/model/model.go
  internal/provisioner/objects/dataplane/dataplane.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
Labels: lifecycle/stale, release-note/small, area/gateway-provisioner

#5657 Setting `disabled = true` on a route should disable the virtual host global rate limit policy
  changelogs/unreleased/5657-shadialtarsha-minor.md
  internal/dag/dag.go
  internal/dag/httpproxy_processor.go
  internal/dag/httpproxy_processor_test.go
  internal/envoy/v3/ratelimit.go
  internal/envoy/v3/ratelimit_test.go
  internal/envoy/v3/route.go
  internal/featuretests/v3/globalratelimit_test.go
  test/e2e/httpproxy/default_global_rate_limiting_test.go
  test/e2e/httpproxy/global_rate_limiting_test.go
  test/e2e/httpproxy/httpproxy_test.go
Labels: release-note/minor

#5783 update Go to 1.21.1
  .github/workflows/build_daily.yaml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/5731-skriss-small.md
  changelogs/unreleased/5783-skriss-small.md
Labels: release-note/small

#5752 Fixup: Sort paths based on length rather than lexi
  changelogs/unreleased/5752-davinci26-major.md
  internal/featuretests/v3/replaceprefix_test.go
  internal/featuretests/v3/route_test.go
  internal/sorter/sorter.go
  internal/sorter/sorter_test.go
  internal/xdscache/v3/route_test.go
Labels: release-note/major
