Repository projectcontour/contour, pull requests merged in 2024-07, with the labels that each got.

#6557 release-1.27: Bump golang.org/x/image to v0.18.0
  go.mod
  go.sum
Labels: release-note/none-required

#6556 release-1.28: Bump golang.org/x/image to v0.18.0
  go.mod
  go.sum
Labels: release-note/none-required

#6555 release-1.29: Bump golang.org/x/image to v0.18.0
  go.mod
  go.sum
Labels: release-note/none-required

#6561 deprecate xDS server type field
  apis/projectcontour/v1alpha1/contourconfig.go
  changelogs/unreleased/6561-skriss-deprecation.md
  cmd/contour/serve.go
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/contourconfig/contourconfiguration_test.go
  pkg/config/parameters.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
Labels: release-note/deprecation

#6562 Bump Envoy to 1.30.4
  Makefile
  changelogs/unreleased/6483-sunjayBhatia-small.md
  changelogs/unreleased/6562-sunjayBhatia-small.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/small

#6563 Bump go to 1.22.5
  .github/workflows/build_daily.yaml
  .github/workflows/build_tag.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/6499-sunjayBhatia-small.md
  changelogs/unreleased/6563-sunjayBhatia-small.md
Labels: release-note/small

#6565 release-1.28: Envoy 1.29.7 and go 1.21.12 bump
  .github/workflows/build_daily.yaml
  .github/workflows/build_tag.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/prbuild.yaml
  Makefile
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
Labels: release-note/none-required

#6569 bump envoy to v1.31.0
  changelogs/unreleased/6562-sunjayBhatia-small.md
  changelogs/unreleased/6569-skriss-small.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/small

#6539 Add circuit breaker support for extension services.
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/extensionservice.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/6539-clayton-gonsalves-minor.md
  cmd/contour/serve.go
  cmd/contour/serve_test.go
  cmd/contour/servecontext_test.go
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/accessors.go
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/extension_processor.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/ingress_processor.go
  internal/dag/policy.go
  internal/dag/policy_test.go
  internal/envoy/v3/cluster.go
  internal/envoy/v3/cluster_test.go
  internal/featuretests/v3/cluster_test.go
  internal/featuretests/v3/extensionservice_test.go
  internal/xdscache/v3/cluster_test.go
  pkg/config/parameters.go
  site/content/docs/main/config/api-reference.html
Labels: release-note/minor

#6558 contour: adds global ext auth support to fallback certificates
  changelogs/unreleased/6558-erikflores7-minor.md
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/global_authorization_test.go
  internal/xdscache/v3/listener.go
Labels: release-note/minor

#6566 Gateway API: handle Route conflicts with GRPCRoute.Matches
  changelogs/CHANGELOG-v1.29.0.md
  changelogs/unreleased/6566-lubronzhan-minor.md
  internal/dag/dag_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/status_test.go
  internal/status/routeconditions.go
  test/e2e/framework.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/grpc_route_conflict_match_test.go
  test/e2e/gateway/grpc_route_partially_conflict_match_test.go
  test/e2e/gatewayapi_predicates.go
Labels: release-note/minor

#6593 update netlify redirects for v1.30.0
  netlify.toml
Labels: release-note/none-required
