Repository projectcontour/contour, pull requests merged in 2024-05, with the labels that each got.

#6399 remove old changelog entry
  changelogs/unreleased/6328-skriss-small.md
Labels: release-note/none-required

#6400 hack/release: update release notes template
  hack/release/release-notes-template.md
Labels: release-note/none-required

#6413 provisioner: Use separate flag for each disabled feature
  internal/provisioner/objects/deployment/deployment.go
  internal/provisioner/objects/deployment/deployment_test.go
Labels: kind/bug, release-note/none-required

#6414 release-1.28: provisioner: Use separate flag for each disabled feature
  internal/provisioner/objects/deployment/deployment.go
  internal/provisioner/objects/deployment/deployment_test.go
Labels: release-note/none-required

#6423 v1.27.3, v1.28.4 changelogs and version info
  changelogs/CHANGELOG-v1.27.3.md
  changelogs/CHANGELOG-v1.28.4.md
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/none-required

#6425 v1.29.0 netlify redirect updates
  netlify.toml
Labels: release-note/none-required

#6426 internal/envoy: support AuthPolicy on direct response routes
  changelogs/unreleased/6426-shadialtarsha-small.md
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  test/e2e/httpproxy/external_auth_test.go
Labels: release-note/none-required

#6398 Bump gateway-api to v1.1.0
  .yamllint
  Makefile
  changelogs/unreleased/6398-sunjayBhatia-minor.md
  cmd/contour/serve.go
  examples/gateway/00-crds.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  go.mod
  go.sum
  hack/yamllint
  internal/dag/builder_test.go
  internal/dag/cache.go
  internal/dag/cache_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/policy.go
  internal/dag/status_test.go
  internal/featuretests/v3/listeners_test.go
  internal/featuretests/v3/routeweight_test.go
  internal/featuretests/v3/tcproute_test.go
  internal/featuretests/v3/tlsroute_test.go
  internal/featuretests/v3/upstreamtls_test.go
  internal/gatewayapi/helpers.go
  internal/k8s/helpers.go
  internal/k8s/helpers_test.go
  internal/k8s/kind.go
  internal/k8s/kind_test.go
  internal/k8s/scheme.go
  internal/provisioner/controller/gatewayclass.go
  internal/provisioner/controller/gatewayclass_test.go
  internal/provisioner/objects/rbac/clusterrole/cluster_role_test.go
  internal/provisioner/objects/rbac/role/role_test.go
  internal/provisioner/objects/rbac/util/util.go
  internal/provisioner/scheme.go
  internal/status/backendtlspolicyconditions.go
  internal/status/backendtlspolicyconditions_test.go
  internal/status/cache.go
  internal/status/routeconditions.go
  test/conformance/gatewayapi/gateway_conformance_test.go
  test/e2e/framework.go
  test/e2e/gateway/backend_tls_policy_test.go
  test/e2e/gateway/tcproute_test.go
  test/e2e/gatewayapi_predicates.go
  test/e2e/provisioner/provisioner_test.go
  test/e2e/upgrade/upgrade_test.go
Labels: area/gateway-api, release-note/minor

#6431 site: remove blog and unversioned guides
  site/config.yaml
  site/content/guides/_index.md
  site/content/guides/cert-manager.md
  site/content/guides/deploy-aws-nlb.md
  site/content/guides/deploy-aws-tls-nlb.md
  site/content/guides/external-authorization.md
  site/content/guides/fips.md
  site/content/guides/gatekeeper.md
  site/content/guides/gateway-api.md
  site/content/guides/global-rate-limiting.md
  site/content/guides/grpc.md
  site/content/guides/health-checking.md
  site/content/guides/ingressroute-to-httpproxy.md
  site/content/guides/kind.md
  site/content/guides/metrics/table.md
  site/content/guides/prometheus.md
  site/content/guides/proxy-proto.md
  site/content/guides/resource-limits.md
  site/content/guides/structured-logs.md
  site/content/guides/tls.md
  site/content/guides/xds-migration.md
  site/content/posts/2019-04-22-Routing-Traffic-to-Applications-in-Kubernetes-with-Contour.md
  site/content/posts/2019-07-11-kindly-running-contour.md
  site/content/posts/2019-07-23-contour-v014.md
  site/content/posts/2019-09-17-projectcontour.md
  site/content/posts/2019-09-27-from-ingressroute-to-httpproxy.md
  site/content/posts/2019-09-5-contour-v015.md
  site/content/posts/2019-10-23-httpproxy-in-action.md
  site/content/posts/2019-10-25-contour-v100rc2.md
  site/content/posts/2019-11-01-announcing-contour-1.0.md
  site/content/posts/2020-01-16-announcing-contour-1.1.md
  site/content/posts/2020-03-03-hot-reload-certificates-safely-rollout-envoy-contour-1.2.md
  site/content/posts/2020-04-27-client-cert-auth-ingress-improvements.md
  site/content/posts/2020-07-10-Contours-landscape-jul-2020.md
  site/content/posts/2020-10-07-contour_v190.md
  site/content/posts/2020-11-06-contour_v1100.md
  site/content/posts/2020-12-18-contour_v1110.md
  site/content/posts/2021-02-02-contour_v1120.md
  site/content/posts/2021-02-25-contour_v1130.md
  site/content/posts/2021-06-10-docs-wg.md
  site/content/posts/_index.md
  site/themes/contour/layouts/index.html
  site/themes/contour/layouts/partials/footer.html
  site/themes/contour/layouts/partials/header.html
Labels: release-note/none-required

#6430 site: updates for GRPCRoute moving to v1
  site/content/docs/main/config/gateway-api.md
  site/content/docs/main/guides/grpc.md
Labels: release-note/none-required

#6444 Bump kind/kubectl and node images
  .github/workflows/prbuild.yaml
  changelogs/unreleased/6444-sunjayBhatia-small.md
  hack/actions/install-kubernetes-toolchain.sh
  site/content/resources/compatibility-matrix.md
  test/scripts/make-kind-cluster.sh
  versions.yaml
Labels: release-note/small

#6162 Gateway API: Fix for Listener/Route hostname isolation
  changelogs/unreleased/6162-sunjayBhatia-minor.md
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  test/conformance/gatewayapi/gateway_conformance_test.go
Labels: release-note/minor

#6447 Enforce `deny-by-default` approach on the `admin` listener by matching on exact paths and on `GET` requests
  changelogs/unreleased/6447-davinci26-small.md
  internal/envoy/v3/stats.go
  internal/envoy/v3/stats_test.go
Labels: release-note/small

#6461 Parse equal-preference cipher groups
  .codespell.ignorewords
  apis/projectcontour/v1alpha1/ciphersuites.go
  apis/projectcontour/v1alpha1/contourconfig_helpers.go
  apis/projectcontour/v1alpha1/contourconfig_helpers_test.go
  changelogs/unreleased/6461-tsaarni-small.md
  internal/provisioner/objects/deployment/deployment_test.go
Labels: release-note/small

#6476 release-1.29: Add NotIn to codespell ignored words
  .codespell.ignorewords
  internal/provisioner/objects/deployment/deployment_test.go
Labels: release-note/none-required
