Repository projectcontour/contour, pull requests merged in 2024-02, with the labels that each got.

#6119 Support gateway api BackendTLSPolicy
  changelogs/unreleased/6119-flawedmatrix-major.md
  cmd/contour/serve.go
  examples/contour/02-role-contour.yaml
  examples/gateway-provisioner/01-roles.yaml
  examples/gateway/00-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  hack/generate-gateway-yaml.sh
  internal/controller/backendtlspolicy.go
  internal/controller/controller_test.go
  internal/dag/builder_test.go
  internal/dag/cache.go
  internal/dag/cache_test.go
  internal/dag/dag.go
  internal/dag/dag_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/envoy/cluster.go
  internal/envoy/v3/auth_test.go
  internal/envoy/v3/cluster_test.go
  internal/envoy/v3/listener_test.go
  internal/featuretests/v3/backendclientauth_test.go
  internal/featuretests/v3/downstreamvalidation_test.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/upstreamtls_test.go
  internal/k8s/helpers.go
  internal/k8s/helpers_test.go
  internal/k8s/rbac.go
  internal/k8s/testdata/configmap-content-change.yaml
  internal/k8s/testdata/configmap-metadata-change.yaml
  internal/provisioner/objects/rbac/util/util.go
  test/e2e/fixtures.go
  test/e2e/framework.go
  test/e2e/gateway/backend_tls_policy_test.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gatewayapi_predicates.go
  test/e2e/httpproxy/backend_tls_protocol_version_test.go
  test/e2e/httpproxy/backend_tls_test.go
  test/e2e/httpproxy/external_name_test.go
  test/e2e/ingress/backend_tls_test.go
Labels: release-note/major

#6148 Add anti-affinity for envoy deployed by provisioner
  changelogs/unreleased/6148-lubronzhan-minor.md
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  internal/provisioner/objects/dataplane/dataplane.go
  internal/provisioner/objects/dataplane/dataplane_test.go
  site/content/resources/upgrading.md
Labels: release-note/minor

#6160 Bump kind/kubectl and node images
  .github/workflows/prbuild.yaml
  hack/actions/install-kubernetes-toolchain.sh
  test/scripts/make-kind-cluster.sh
Labels: release-note/none-required

#6161 site: Add troubleshooting doc for common errors
  changelogs/unreleased/6161-sunjayBhatia-docs.md
  site/content/docs/main/troubleshooting.md
  site/content/docs/main/troubleshooting/common-proxy-errors.md
  site/data/docs/main-toc.yml
Labels: release-note/docs

#6152 Add disabled-features flag to ContourDeployment for provisioner
  apis/projectcontour/v1/httpproxy.go
  apis/projectcontour/v1/httpproxy_helpers.go
  apis/projectcontour/v1alpha1/contourdeployment.go
  changelogs/unreleased/6152-lubronzhan-minor.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/provisioner/controller/gateway.go
  internal/provisioner/model/model.go
  internal/provisioner/model/model_test.go
  internal/provisioner/objects/deployment/deployment.go
  internal/provisioner/objects/deployment/deployment_test.go
  internal/provisioner/objects/rbac/clusterrole/cluster_role.go
  internal/provisioner/objects/rbac/clusterrole/cluster_role_test.go
  internal/provisioner/objects/rbac/rbac.go
  internal/provisioner/objects/rbac/role/role.go
  internal/provisioner/objects/rbac/role/role_test.go
  internal/provisioner/objects/rbac/util/util.go
  internal/provisioner/objects/rbac/util/util_test.go
  site/content/docs/main/config/api-reference.html
  test/e2e/gatewayapi_predicates.go
  test/e2e/provisioner/provisioner_test.go
Labels: release-note/minor

#6151 Add Accepted condition to BackendTLSPolicy
  changelogs/unreleased/6151-christianang-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/status/backendtlspolicyconditions.go
  internal/status/backendtlspolicyconditions_test.go
  internal/status/cache.go
  test/e2e/gateway/backend_tls_policy_test.go
  test/e2e/gatewayapi_predicates.go
Labels: release-note/small

#6164 Bump Envoy to 1.29.1
  Makefile
  changelogs/unreleased/6123-skriss-small.md
  changelogs/unreleased/6164-sunjayBhatia-small.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/small

#5925 update docs & examples to match gateway-api/v1
  README.md
  examples/example-workload/gatewayapi/blue-green/blue-green.yaml
  examples/example-workload/gatewayapi/kuard/kuard.yaml
  examples/gateway/03-gatewayclass.yaml
  examples/gateway/04-gateway.yaml
  examples/render/contour-gateway.yaml
  internal/sorter/sorter_test.go
  site/content/docs/main/config/gateway-api.md
  site/content/docs/main/guides/gateway-api.md
  site/content/getting-started/_index.md
  site/content/guides/gateway-api.md
  test/scripts/run-gateway-conformance.sh
Labels: release-note/none-required

#6165 release-1.27: Bump Envoy to 1.28.1
  Makefile
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
Labels: release-note/none-required

#6183 hack: fix link in release notes template
  hack/release/release-notes-template.md
Labels: release-note/none-required

#6186 drop Kubernetes version vars from patch release process
  site/content/resources/release-process.md
Labels: release-note/none-required

#6185 Fixes BackendTLSPolicy Status Update data race
  changelogs/unreleased/6185-sunjayBhatia-small.md
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/status/backendtlspolicyconditions.go
  internal/status/cache.go
Labels: release-note/small

#6187 release-1.28: Fixes BackendTLSPolicy Status Update data race
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  internal/status/backendtlspolicyconditions.go
  internal/status/cache.go
Labels: release-note/none-required

#6190 Patch release 1.28.1 changelog/site updates
  changelogs/CHANGELOG-v1.28.1.md
  changelogs/unreleased/6185-sunjayBhatia-small.md
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/none-required

#6191 add locally-built contour to .gitignore
  .gitignore
Labels: release-note/none-required

#6145 Gateway API: remove gateway controller name config option
  .github/workflows/build_daily.yaml
  .mockery.yaml
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/contourconfig_helpers.go
  apis/projectcontour/v1alpha1/contourconfig_helpers_test.go
  apis/projectcontour/v1alpha1/zz_generated.deepcopy.go
  changelogs/unreleased/6145-skriss-deprecation.md
  cmd/contour/ingressstatus.go
  cmd/contour/serve.go
  cmd/contour/serve_test.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-contour-config.yaml
  examples/contour/01-crds.yaml
  examples/gateway/01-gatewayclass.yaml
  examples/gateway/02-gateway.yaml
  examples/gateway/03-contour-config.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  hack/generate-gateway-deployment.sh
  internal/contourconfig/contourconfiguration_test.go
  internal/controller/backendtlspolicy.go
  internal/controller/controller.go
  internal/controller/controller_test.go
  internal/controller/gateway.go
  internal/controller/gatewayclass.go
  internal/controller/grpcroute.go
  internal/controller/httproute.go
  internal/controller/mocks/manager.go
  internal/controller/tcproute.go
  internal/controller/tlsroute.go
  internal/k8s/statusaddress.go
  internal/k8s/statusaddress_test.go
  internal/provisioner/controller/gateway_test.go
  internal/provisioner/objects/contourconfig/contourconfig.go
  internal/provisioner/objects/contourconfig/contourconfig_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/config/gateway-api.md
  site/content/docs/main/configuration.md
  site/content/docs/main/guides/gateway-api.md
  site/content/guides/gateway-api.md
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/multiple_gateways_and_classes_test.go
Labels: release-note/deprecation

#6192 site/content: minor Gateway API docs updates
  site/content/docs/main/config/gateway-api.md
  site/content/getting-started/_index.md
Labels: release-note/none-required

#6194 Add test demonstrating backendtlspolicy precedence
  internal/featuretests/v3/upstreamtls_test.go
Labels: release-note/none-required

#6181 Bump golang to 1.22.0
  .github/workflows/build_daily.yaml
  .github/workflows/build_tag.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/6181-sunjayBhatia-small.md
Labels: release-note/small

#6195 Add test validating cluster name generation is unique in HTTPRoute with BackendTLSPolicy vs HTTPProxy
  internal/featuretests/v3/backendclientauth_test.go
  internal/featuretests/v3/upstreamtls_test.go
  internal/k8s/statusaddress_test.go
  internal/k8s/statuscache.go
Labels: release-note/none-required

#6182 Bump golangci-lint to 1.56.2
  .github/workflows/prbuild.yaml
  .golangci.yml
  cmd/contour/certgen_test.go
  cmd/contour/serve.go
  cmd/contour/servecontext_test.go
  cmd/contour/shutdownmanager.go
  hack/golangci-lint
  internal/dag/httpproxy_processor_test.go
  internal/debug/debug.go
  internal/featuretests/v3/ingressclass_test.go
  internal/featuretests/v3/mirrorpolicy_test.go
  internal/featuretests/v3/timeoutpolicy_test.go
  internal/health/health.go
  internal/httpsvc/http_test.go
  internal/provisioner/controller/gateway_test.go
  internal/provisioner/controller/gatewayclass_test.go
  internal/provisioner/objects/contourconfig/contourconfig.go
  internal/provisioner/objects/object_test.go
  internal/sorter/sorter_test.go
  internal/xds/v3/callbacks.go
  internal/xds/v3/contour_test.go
  test/e2e/gateway/backend_tls_policy_test.go
  test/e2e/gateway/gateway_test.go
  test/e2e/http.go
Labels: release-note/none-required

#6214 use Go 1.22 range over integers syntax
  internal/featuretests/v3/route_test.go
  internal/gatewayapi/listeners.go
  internal/sorter/sorter.go
  internal/sorter/sorter_test.go
  test/e2e/bench/bench_test.go
  test/e2e/deployment.go
  test/e2e/gateway/response_header_modifier_test.go
  test/e2e/httpproxy/cookie_rewrite_test.go
  test/e2e/incluster/memory_usage_test.go
  test/e2e/incluster/smoke_test.go
Labels: release-note/none-required

#6228 test/e2e: add flake attempts for gRPC plaintext E2E
  test/e2e/httpproxy/grpc_test.go
Labels: release-note/none-required
