Repository projectcontour/contour, pull requests merged in 2024-04, with the labels that each got.

#6271 set SpawnUpstreamSpan to true for generation new span
  changelogs/unreleased/6271-SamMHD-minor.md
  internal/envoy/v3/tracing.go
  internal/envoy/v3/tracing_test.go
Labels: release-note/minor

#6327 bump Go to 1.22.2
  .github/workflows/build_daily.yaml
  .github/workflows/build_tag.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/6265-sunjayBhatia-small.md
  changelogs/unreleased/6327-skriss-small.md
Labels: release-note/small

#6333 patch release docs
  changelogs/CHANGELOG-v1.26.3.md
  changelogs/CHANGELOG-v1.27.2.md
  changelogs/CHANGELOG-v1.28.3.md
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/none-required

#6149 Implementation: use EndpointSlices by default
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/contourconfig_helpers.go
  apis/projectcontour/v1alpha1/contourconfig_helpers_test.go
  changelogs/unreleased/6149-izturn-deprecation.md
  changelogs/unreleased/6149-izturn-minor.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  pkg/config/parameters.go
  site/content/docs/main/config/api-reference.html
Labels: release-note/minor, release-note/deprecation

#6295 Allow follower to start with empty initial resource list
  changelogs/unreleased/6295-tsaarni-small.md
  internal/contour/handler.go
Labels: release-note/small

#6336 minor release process updates
  site/content/resources/release-process.md
Labels: release-note/none-required

#6297 Enable Circuit breaker statistics for tracking remaining
  changelogs/unreleased/6297-rajatvig-small.md
  internal/envoy/v3/bootstrap.go
  internal/envoy/v3/bootstrap_test.go
  internal/envoy/v3/cluster.go
  internal/envoy/v3/cluster_test.go
  internal/featuretests/v3/cluster_test.go
  internal/xdscache/v3/cluster_test.go
Labels: release-note/small

#6338 daily build: run E2E's against endpoints translator
  .github/workflows/build_daily.yaml
  test/e2e/fixtures.go
Labels: release-note/none-required

#6335 internal/dag: basic Gateway API Timeouts.BackendRequest impl
  changelogs/unreleased/6335-skriss-small.md
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/status_test.go
  test/conformance/gatewayapi/gateway_conformance_test.go
  test/scripts/run-gateway-conformance.sh
Labels: release-note/small

#6353 Bump envoy to v1.30.0
  Makefile
  changelogs/unreleased/6353-tico88612-small.md
  cmd/contour/gatewayprovisioner.go
  examples/contour/03-envoy.yaml
  examples/deployment/03-envoy-deployment.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/small

#6188 handle Route conflicts with HTTPRoute.Matches
  changelogs/unreleased/6188-lubronzhan-minor.md
  internal/dag/dag.go
  internal/dag/dag_test.go
  internal/dag/gatewayapi_processor.go
  internal/dag/gatewayapi_processor_test.go
  internal/dag/status_test.go
  internal/status/routeconditions.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/http_route_conflict_match_test.go
  test/e2e/gateway/http_route_partially_conflict_match_test.go
  test/e2e/gatewayapi_predicates.go
Labels: release-note/minor

#6356 re-enable linting the tools build tag
  .github/workflows/prbuild.yaml
  Makefile
Labels: release-note/none-required

#6375 internal/dag: 0s HTTPRoute timeout disables the timeout
  changelogs/unreleased/6375-skriss-small.md
  internal/dag/builder_test.go
  internal/dag/gatewayapi_processor.go
Labels: release-note/small

#6347 test/e2e: verify resource status upon creation
  test/e2e/certs.go
  test/e2e/framework.go
  test/e2e/gateway/backend_tls_policy_test.go
  test/e2e/gateway/gateway_test.go
  test/e2e/gateway/host_rewrite_test.go
  test/e2e/gateway/http_route_conflict_match_test.go
  test/e2e/gateway/http_route_partially_conflict_match_test.go
  test/e2e/gateway/multiple_https_listeners_test.go
  test/e2e/gateway/query_param_match_test.go
  test/e2e/gateway/request_header_modifier_test.go
  test/e2e/gateway/request_redirect_test.go
  test/e2e/gateway/response_header_modifier_test.go
  test/e2e/gateway/tcproute_test.go
  test/e2e/gateway/tls_gateway_test.go
  test/e2e/gateway/tls_wildcard_host_test.go
  test/e2e/httpproxy/backend_tls_protocol_version_test.go
  test/e2e/httpproxy/backend_tls_test.go
  test/e2e/httpproxy/client_cert_auth_test.go
  test/e2e/httpproxy/client_cert_crl_test.go
  test/e2e/httpproxy/cookie_rewrite_test.go
  test/e2e/httpproxy/default_global_rate_limiting_test.go
  test/e2e/httpproxy/direct_response_test.go
  test/e2e/httpproxy/dynamic_headers_test.go
  test/e2e/httpproxy/exact_path_condition_match_test.go
  test/e2e/httpproxy/external_auth_test.go
  test/e2e/httpproxy/external_name_test.go
  test/e2e/httpproxy/fqdn_test.go
  test/e2e/httpproxy/global_external_auth_test.go
  test/e2e/httpproxy/global_rate_limiting_test.go
  test/e2e/httpproxy/grpc_test.go
  test/e2e/httpproxy/header_condition_match_test.go
  test/e2e/httpproxy/host_header_rewrite_test.go
  test/e2e/httpproxy/http_health_checks_test.go
  test/e2e/httpproxy/https_fallback_certificate_test.go
  test/e2e/httpproxy/https_misdirected_request_test.go
  test/e2e/httpproxy/https_sni_enforcement_test.go
  test/e2e/httpproxy/include_exact_condition_test.go
  test/e2e/httpproxy/include_prefix_condition_test.go
  test/e2e/httpproxy/include_regex_path_condition_test.go
  test/e2e/httpproxy/internal_redirect_test.go
  test/e2e/httpproxy/ip_filtering_test.go
  test/e2e/httpproxy/local_rate_limiting_test.go
  test/e2e/httpproxy/merge_slash_test.go
  test/e2e/httpproxy/multiple_ingress_classes_test.go
  test/e2e/httpproxy/namespaces_test.go
  test/e2e/httpproxy/path_condition_match_test.go
  test/e2e/httpproxy/path_rewrite_test.go
  test/e2e/httpproxy/pod_restart_test.go
  test/e2e/httpproxy/query_parameter_condition_match_test.go
  test/e2e/httpproxy/regex_path_condition_test.go
  test/e2e/httpproxy/request_redirect_test.go
  test/e2e/httpproxy/tcproute_https_termination_test.go
  test/e2e/incluster/memory_usage_test.go
  test/e2e/incluster/rbac_test.go
  test/e2e/incluster/smoke_test.go
  test/e2e/infra/endpointslice_test.go
  test/e2e/provisioner/provisioner_test.go
  test/e2e/upgrade/upgrade_test.go
Labels: release-note/none-required
