Repository projectcontour/contour, pull requests merged in 2024-11, with the labels that each got.

#6724 Patch release updates
  changelogs/CHANGELOG-v1.28.7.md
  changelogs/CHANGELOG-v1.29.3.md
  changelogs/CHANGELOG-v1.30.1.md
  site/content/resources/compatibility-matrix.md
  versions.yaml
Labels: release-note/none-required

#6718 Bump Go to 1.23.2
  .github/workflows/build_daily.yaml
  .github/workflows/build_tag.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/prbuild.yaml
  Makefile
  changelogs/unreleased/6718-tsaarni-small.md
  cmd/contour/contour.go
  hack/golangci-lint
  internal/annotation/annotations.go
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/gatewayapi_processor.go
  internal/dag/httpproxy_processor.go
  internal/dag/policy.go
  internal/dag/status_test.go
  internal/envoy/v3/endpoint.go
  internal/envoy/v3/listener.go
  internal/envoy/v3/ratelimit.go
  internal/envoy/v3/route.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/featuretests.go
  internal/gatewayapi/helpers.go
  internal/k8s/log_test.go
  internal/provisioner/model/model.go
  internal/provisioner/objects/dataplane/dataplane.go
  internal/provisioner/objects/dataplane/dataplane_test.go
  internal/provisioner/objects/deployment/deployment.go
  internal/provisioner/objects/object.go
  internal/status/gatewaystatus.go
  internal/xds/v3/callbacks_test.go
  internal/xdscache/v3/endpointstranslator_test.go
  pkg/certs/certgen.go
  pkg/certs/certgen_test.go
  test/e2e/upgrade/upgrade_test.go
Labels: release-note/small

#6661 Apply Disable ExtAuth from GlobalExtAuth and Remove Auth from HTTP Upgrade
  apis/projectcontour/v1/helpers.go
  changelogs/unreleased/6661-SamMHD-minor.md
  internal/dag/httpproxy_processor.go
  internal/envoy/v3/route.go
  internal/featuretests/v3/authorization_test.go
  internal/featuretests/v3/envoy.go
  internal/featuretests/v3/global_authorization_test.go
  internal/featuretests/v3/headerpolicy_test.go
  internal/featuretests/v3/route_test.go
  internal/featuretests/v3/tcpproxy_test.go
  internal/xdscache/v3/route_test.go
Labels: release-note/minor

#6787 Use 1.N.P form for go directive in go.mod file
  go.mod
Labels: release-note/none-required

#6772 Added missing retryOn conditions
  apis/projectcontour/v1/httpproxy.go
  changelogs/unreleased/6772-tsaarni-small.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  site/content/docs/main/config/api-reference.html
Labels: release-note/small
