Repository projectcontour/contour, pull requests merged in 2025-02, with the labels that each got.

#6568 remove contour xDS server implementation
  .github/workflows/build_daily.yaml
  apis/projectcontour/v1alpha1/contourconfig.go
  apis/projectcontour/v1alpha1/contourconfig_helpers.go
  apis/projectcontour/v1alpha1/contourconfig_helpers_test.go
  changelogs/unreleased/6568-skriss-deprecation.md
  cmd/contour/serve.go
  cmd/contour/servecontext.go
  cmd/contour/servecontext_test.go
  examples/contour/01-contour-config.yaml
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/contour/cond.go
  internal/contour/cond_test.go
  internal/contour/example_test.go
  internal/contourconfig/contourconfiguration.go
  internal/contourconfig/contourconfiguration_test.go
  internal/xds/resource.go
  internal/xds/resource_test.go
  internal/xds/v3/callbacks.go
  internal/xds/v3/contour.go
  internal/xds/v3/contour_test.go
  internal/xdscache/v3/cluster.go
  internal/xdscache/v3/cluster_test.go
  internal/xdscache/v3/endpointslicetranslator.go
  internal/xdscache/v3/endpointslicetranslator_test.go
  internal/xdscache/v3/endpointstranslator.go
  internal/xdscache/v3/endpointstranslator_test.go
  internal/xdscache/v3/listener.go
  internal/xdscache/v3/listener_test.go
  internal/xdscache/v3/route.go
  internal/xdscache/v3/route_test.go
  internal/xdscache/v3/runtime.go
  internal/xdscache/v3/runtime_test.go
  internal/xdscache/v3/secret.go
  internal/xdscache/v3/secret_test.go
  internal/xdscache/v3/server_test.go
  pkg/config/parameters.go
  pkg/config/parameters_test.go
  site/content/docs/main/config/api-reference.html
  site/content/docs/main/configuration.md
  test/e2e/fixtures.go
Labels: release-note/deprecation

#6789 Update HTTPRequestRedirectPolicy StatusCode to use RedirectResponseCode
  apis/projectcontour/v1/httpproxy.go
  apis/projectcontour/v1/zz_generated.deepcopy.go
  changelogs/unreleased/6789-billyjs-small.md
  examples/contour/01-crds.yaml
  examples/render/contour-deployment.yaml
  examples/render/contour-gateway-provisioner.yaml
  examples/render/contour-gateway.yaml
  examples/render/contour.yaml
  internal/dag/builder_test.go
  internal/dag/dag.go
  internal/dag/httpproxy_processor.go
  internal/envoy/v3/route.go
  internal/envoy/v3/route_test.go
  internal/featuretests/v3/redirectroutepolicy_test.go
  site/content/docs/main/config/api-reference.html
  test/e2e/httpproxy/internal_redirect_test.go
  test/e2e/httpproxy/request_redirect_test.go
Labels: release-note/small

#6915 Make codespell happy
  design/external-authorization-design.md
Labels: release-note/none-required

#6916 Make codespell happy
  design/external-authorization-design.md
Labels: release-note/none-required

#6917 Make codespell happy
  design/external-authorization-design.md
Labels: release-note/none-required

#6918 Bump to golang 1.24.0 and golangci-lint v1.64.5
  .github/workflows/build_daily.yaml
  .github/workflows/build_tag.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/prbuild.yaml
  Makefile
  apis/projectcontour/v1alpha1/contourconfig_helpers.go
  changelogs/unreleased/6918-tsaarni-small.md
  go.mod
  hack/golangci-lint
  test/e2e/deployment.go
  test/e2e/provisioner.go
Labels: release-note/small
